@using WordVision.ec.Web.Areas.Encuesta.Models
@model List<EReporteDAPViewModel>

@{ ViewBag.Title = "DAPs";}

<div style="border:solid; border-width:1px; padding:5px;">
    <div class="row">
        <div class="col-md-12">
            <label class="col-md-12 col-form-label texto-pregunta" style="color:#666666">Para mantener Nuestra Promesa</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label class="col-md-12 col-form-label texto-pregunta" style="color:#EC7D31">Establecer 3-5 objetivos de Desempeño para este año - CLARIDAD</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label class="col-md-12 col-form-label texto-pregunta">Incluya tanto el QUÉ <font style="color:#2ED4E0">(Resultado)</font> como el CÓMO <font style="color:#2ED4E0">(mentalidades y comportamientos)</font> se lograrán los objetivos. Utiliza los hitos para considerar cómo vas a hacer un seguimiento del progreso a lo largo del año, al menos trimestralmente*.</label>
        </div>
    </div>
</div>

<br />


<form asp-action="Index" method="get">
    <div >
        <p style="display:flex;">
            @Html.DropDownList("EvaluacionID", (IEnumerable <SelectListItem>)ViewData["EEvaluacionesList"])  |
            <input type="submit" value="Buscar" class="btn btn-sm btn-primary" /> |
            <a asp-action="Index" class="btn btn-sm btn-primary">Limpiar Filtros</a>
        </p>
    </div>
</form>

<table id="grdDatos" class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>Cod. Ind.</th>
            <th>Programa de Área</th>
            <th>Indicador</th>
            <th>Tipo Indicador</th>

            <th>Apoyo</th>
            <th>Empoderamiento</th>
            <th>Límite</th>
            <th>Uso Constructivo</th>
            <th>Compromiso</th>
            <th>Valores</th>
            <th>Competencia</th>
            <th>Identidad</th>

            <th>NumeroTotal</th>
            <th>Entrevistados</th>
            <th>Porcentaje</th>
            <th>Resultado</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var fila in Model)
            {
                <tr>
                    <td>@fila.rpt_IndicadorCodigo</td>
                    <td>@fila.rpt_Programa</td>
                    <td>@fila.rpt_IndicadorNombre</td>
                    <td>@fila.rpt_IndicadorTipo</td>

                    <td>@fila.rpt_Apoyo</td>
                    <td>@fila.rpt_Empoderamiento</td>
                    <td>@fila.rpt_Limite</td>
                    <td>@fila.rpt_UsoConstructivo</td>
                    <td>@fila.rpt_Compromiso</td>
                    <td>@fila.rpt_Valores</td>
                    <td>@fila.rpt_Competencia</td>
                    <td>@fila.rpt_Identidad</td>

                    <td>@fila.rpt_numerador</td>
                    <td>@fila.rpt_denominador</td>
                    <td>@fila.rpt_porcentaje</td>
                    <td>@fila.rpt_resultado</td>
                </tr>
            }

        }
    </tbody>
</table>


<script>

    $(document).ready(function () {
        var table = $("#grdDatos").DataTable({
            aoColumnDefs: [
                { "aTargets": [0], "bSortable": true },
                { "aTargets": [2], "asSorting": ["asc"], "bSortable": true },
            ],
            "language": {
                "url": "/lib/datatables/language/Spanish.json"
            },
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ],
            responsive: true,
            columnDefs: [
                { responsivePriority: 1, targets: 0 },
                { responsivePriority: 2, targets: -1 }
            ],
            "info": false
        });


    });
</script>
