@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model WordVision.ec.Web.Areas.Maestro.Models.EtapaModeloProyectoViewModel

<div class="row">
    <div class="col-md-12">
        <form id="create-form" method="post" asp-controller="EtapaModeloProyecto" asp-action="OnPostCreateOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryModalPost(this);" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input hidden="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="Etapa" class="control-label"></label>
                <input asp-for="Etapa" class="form-control" id="etapa"/>
                <span asp-validation-for="Etapa" class="text-danger" id="etapaError"></span>
            </div>
            <div class="form-group grupoSeleccion">
                <label asp-for="IdAccionOperativa" class="control-label">Accion Operativa</label>
                @if (Model.Id == 0)
                {
                    @Html.DropDownList("IdAccionOperativa", (IEnumerable<SelectListItem>)Model.AccionOperativaList, htmlAttributes: new { @class = "form-control seleccionBusqueda", @style = "width:100%;", @id = "seleccionMultiple", @multiple = "multiple" })
                }
                else
                {
                    @Html.DropDownList("IdAccionOperativa", (IEnumerable<SelectListItem>)Model.AccionOperativaList, htmlAttributes: new { @class = "form-control seleccionBusqueda", @style = "width:100%;"})
                }
                    <span asp-validation-for="IdAccionOperativa" class="text-danger" id="accionError"></span>
                </div>
            @if (Model.Id != 0)
            {
                <div class="form-group">
                    <label asp-for="IdEstado" class="control-label">Estado</label>
                    @Html.DropDownList("IdEstado", (IEnumerable<SelectListItem>)Model.EstadoList, htmlAttributes: new { @class = "form-control", @style = "width:100%;" })
                    <span asp-validation-for="IdEstado" class="text-danger"></span>
                </div>
             }
             <br />
             <div class="form-group justify-content-between group-button-modal">
                 @if (Model.Id == 0)
                 {
                 <button type="button" class="btn btn-success" id="btn_enviar_EMP">Guardar</button>
                 }
                 else
                 {
                 <button type="submit" class="btn btn-success">Guardar</button>
                 }
                 <button type="button" class="btn btn-default close-button" data-dismiss="modal" id="btn_cancelar_EMP">Cancelar</button>
             </div>
        </form>
    </div>
</div>

<script type="text/javascript" language=javascript>
        $.validator.unobtrusive.parse(document);
        $('#create-form').disableAutoFill();

    $('.seleccionBusqueda').select2();
    $('#seleccionMultiple').on('select2:opening select2:closing', function (event) {
        var $searchfield = $(this).parent().find('.select2-search__field');
        $searchfield.prop('disabled', true);
    });

    $("#etapa").on('change keyup paste', function (event) {
        $("#etapaError").text('')
    })

    $("#seleccionMultiple").on('change', function (event) {
        $("#accionError").text('')
    })

    $('#btn_enviar_EMP').on('click', function (event) {
        var listaAccionesMult = $(".select2-selection__choice");
        var AccionesList = $("#seleccionMultiple option");
        var Etapa = $("#etapa").val()

        var listaAccionesModel = AccionesList.map((ind, al) => {

            var id = parseInt(al.value);
            var text = al.text;

            if (listaAccionesMult.map((ind, la) => la.title).toArray().find(x => x.toUpperCase() === text.toUpperCase()))
                return {
                    id: id,
                    nombre: text
                }
            else
                return {
                    id: 0,
                }
        }).toArray().filter(x => x.id !== 0)

        var EtapaModeloProyectoMultipleViewModel = {
            etapa: Etapa,
            listaAcciones: listaAccionesModel
        }
        var valido = true;

        if (!Etapa) {
            $("#etapaError").text('Etapa es obligatorio.')
            valido = false
        }

        if (listaAccionesModel.length === 0) {
            $("#accionError").text('Accion Operativa es obligatorio.')
            valido = false
        }

        if(valido)
            $.ajax({
                type: "post",
                url:'@Url.Action("OnPostCreateMultiple", "EtapaModeloProyecto", new { area = "maestro" })',
                data: EtapaModeloProyectoMultipleViewModel,
                datatype: "json",
                cache: false,
                success: function (data) {
                    if (data.isValid) {
                        $("#reloadEMP").trigger('click');
                        $("#btn_cancelar_EMP").trigger('click');
                    }
                },
                error: function(xhr) {

                }
            });

    })
</script>
