@model IEnumerable<WordVision.ec.Web.Areas.Maestro.Models.EtapaModeloProyectoViewModel>

<table id="etapaModeloProyectoTable" class="table table-striped" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etapa)
            </th>
            <th>
                Acción Operativa
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etapa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccionOperativa.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado.Nombre)
            </td>
            <td>
                <div class="btn-group">
                    <a onclick="jQueryModalGet('/Maestro/EtapaModeloProyecto/OnGetCreateOrEdit?id=@item.Id','Editar Etapa Modelo Proyecto')" class="dropdown-item"><i class="fas fa-pencil-alt"></i>  Edit</a> 
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $("#etapaModeloProyectoTable").DataTable();
    });
</script>
