@model IEnumerable<WordVision.ec.Web.Areas.Maestro.Models.PresupuestoProyectoViewModel>

<table id="presupuestoProyectoTable" class="table table-striped" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                Programa Área
            </th>
            <th>
                Techo Presupuestario
            </th>
            <th>
                Costo Soporte
            </th>
            <th>
                Nómina
            </th>
            <th>
                TI
            </th>
            <th>
                Administración
            </th>
            <th>
                Lineamientos On Admistrativos
            </th>
            <th>
                Lineamientos On Operativos
            </th>
            <th>
                Total
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr id="@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.ProgramaArea.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TechoPresupuestario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoSoporte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nomina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Administracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LineamientosOnAdmistrativos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LineamientosOnOperativos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado.Nombre)
            </td>
            <td>
                <div class="btn-group">
                    <button onclick="jQueryModalGet('/Maestro/PresupuestoProyecto/OnGetCreateOrEdit?id=@item.Id','Editar Presupuesto')" class="btn btn-warning btn-xp mr-1" type="button"><i class="fas fa-pencil-alt"></i></button> 
                    <button type="button" onclick="EliminaFila(@item.Id)" class="btn btn-danger btn-xp"><i class="fas fa-trash-alt"></i></button>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $("#presupuestoProyectoTable").DataTable(
            {
            columnDefs: [ {
                "targets": -1,
                "orderable": false
                } ],
            language: {
                "url": "../lib/datatables/language/Spanish.json"
            },
            }
        );
    });

    function EliminaFila(id) {

        var GestionViewModel = {
            id: id
        };

         $.ajax({
            type: "delete",
            url:'@Url.Action("OnPostDelete", "PresupuestoProyecto", new { area = "maestro" })',
             data: GestionViewModel,
            datatype: "json",
            cache: false,
            success: function (data) {
                if(data.isValid)
                    $("#" + id).remove();

            },
            error: function(xhr) {

            }
        });
    }
</script>
