@using WordVision.ec.Web.Areas.Registro.Models
@{
}
@model FormularioViewModel
@if (Model.TipoContacto == "C")
{
<div class="form-group row">
    <label class="col-md-2 col-form-label texto-pregunta">&nbsp;&nbsp;&nbsp; Num.Contactos:</label>
    <div class="col-md-2">
        <input type="text" asp-for="NumContacto" name="NumContacto" id="NumContacto" class="form-control"  readonly>
        <span asp-validation-for="NumContacto" class="text-danger"></span>
    </div>
</div>
}
<table id="colaboradorTable" class="table table-striped" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tipo</th>
            <th>Apellidos</th>
            <th>Nombres</th>
            <th class="text-right">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.FormularioTerceros != null)
        {

            @foreach (var colaborador in Model.FormularioTerceros.Where(x => x.Tipo == Model.TipoContacto).ToList())
            {
                <tr id="@colaborador.Terceros.Id">
                    <td>
                        @colaborador.Terceros.Id
                    </td>
                    <td>
                        @colaborador.Terceros.Tipo
                    </td>
                    <td>
                        @colaborador.Terceros.PrimerApellido @colaborador.Terceros.SegundoApellido
                    </td>
                    <td>
                        @colaborador.Terceros.PrimerNombre @colaborador.Terceros.SegundoNombre
                    </td>
                    <td class="text-right">
                        @*<div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action
                            </button>
                            <div class="dropdown-menu shadow animated--grow-in">*@

                        <button type="button" onclick="jQueryModalGet('/registro/formulario/OnGetCreateOrEdit?id=@colaborador.Terceros.Id&idFormulario=@Model.Id&IdColaborador=@Model.IdColaborador&Tipo=D','Edita Dependiente')" class="btn btn-warning btn-xp">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button type="button" onclick="EliminaFila(@colaborador.Terceros.Id)" class="btn btn-danger btn-xp">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        @*<form id="form_delete_@colaborador.Terceros.Id" asp-area="registro" asp-controller="formulario" method="post" asp-action="OnPostDelete" asp-route-id="@colaborador.Terceros.Id" asp-route-IdColaborador=@Model.IdColaborador onsubmit="alert('dsdsds')">
                            <a href="javascript:$('#form_delete_@colaborador.Terceros.Id').submit();"  class="btn btn-danger btn-xp"><i class="fas fa-trash-alt"></i>  Eliminar</a>
                            </form>*@
                        @*</div>
                            </div>*@
                    </td>

                </tr>
            }}


    </tbody>
</table>

