@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model WordVision.ec.Web.Areas.Maestro.Models.IndicadorPRViewModel

<form id="create-form" method="post" asp-controller="IndicadorPR" asp-action="OnPostCreateOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryModalPost(this);" enctype="multipart/form-data">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input hidden="hidden" asp-for="Id"/>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Codigo" class="control-label">Código</label>
                @if (Model.Id == 0)
                {
                    <input asp-for="Codigo" class="form-control" />
                } else
                {
                <input asp-for="Codigo" class="form-control" readonly/>
                }
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label">Descripción</label>
                <textarea asp-for="Descripcion" class="form-control" rows="2"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asunciones" class="control-label"></label>
                <textarea asp-for="Asunciones" class="form-control" rows="2"></textarea>
                <span asp-validation-for="Asunciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedioVerificacion" class="control-label"></label>
                <textarea asp-for="MedioVerificacion" class="form-control" rows="2"></textarea>
                <span asp-validation-for="MedioVerificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poblacion" class="control-label">Población</label>
                <input asp-for="Poblacion" class="form-control" oninput="event.target.value = event.target.value.replace(/[^0-9,.]*/g,'')"/>
                <span asp-validation-for="Poblacion" class="text-danger"></span>
            </div> 
            
            
        </div>
        <div class="col-md-6"> 
            <div class="form-group">
                <label asp-for="CWB" class="control-label"></label>
                <input asp-for="CWB" class="form-control" />
                <span asp-validation-for="CWB" class="text-danger"></span>
            </div> 
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncluyeAdvovacy" /> Incluye Advovacy
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="InclucionRC" /> Inclucion RC
                </label>
            </div>
            <div class="form-group">
                <label asp-for="IdActorParticipante" class="control-label">Actor Participante</label>
                @Html.DropDownList("IdActorParticipante", (IEnumerable<SelectListItem>)Model.ActorParticipanteList, htmlAttributes: new { @class = "form-control ", @style = "width:100%;" })
                <span asp-validation-for="IdActorParticipante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTarget" class="control-label">Target</label>
                @Html.DropDownList("IdTarget", (IEnumerable<SelectListItem>)Model.TargetList, htmlAttributes: new { @class = "form-control ", @style = "width:100%;" })
                <span asp-validation-for="IdTarget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdFrecuencia" class="control-label">Frecuencia</label>
                @Html.DropDownList("IdFrecuencia", (IEnumerable<SelectListItem>)Model.FrecuenciaList, htmlAttributes: new { @class = "form-control ", @style = "width:100%;" })
                <span asp-validation-for="IdFrecuencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoMedida" class="control-label">Tipo Medida</label>
                @Html.DropDownList("IdTipoMedida", (IEnumerable<SelectListItem>)Model.TipoMedidaList, htmlAttributes: new { @class = "form-control ", @style = "width:100%;" })
                <span asp-validation-for="IdTipoMedida" class="text-danger"></span>
            </div>   
            
            @if (Model.Id != 0)
            {
                <div class="form-group">
                    <label asp-for="IdEstado" class="control-label">Estado</label>
                    @Html.DropDownList("IdEstado", (IEnumerable<SelectListItem>)Model.EstadoList, htmlAttributes: new { @class = "form-control ", @style = "width:100%;" })
                    <span asp-validation-for="IdEstado" class="text-danger"></span>
                </div>
            }
        </div>
                         
        <br />
        <div class="form-group justify-content-between group-button-modal">
            <button type="submit" class="btn btn-success">Guardar</button>
            <button type="submit" class="btn btn-default close-button" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</form>    

<script type="text/javascript" language=javascript>
        $.validator.unobtrusive.parse(document);
        $('#create-form').disableAutoFill();
    </script>
