@model IEnumerable<WordVision.ec.Web.Areas.Maestro.Models.IndicadorPRViewModel>

<table id="indicadorPRTable" class="table table-striped" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
               Código
            </th>
            <th>
               Descripción
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asunciones)
            </th>
            <th>
                Medio Verificación
            </th>
            <th>
                Actor Participante
            </th>
            <th>
                Población
            </th>
            <th>
                CWB
            </th>
            <th>
                Inclución RC
            </th>
            <th>
                Incluye Advovacy
            </th>
            <th>
                Target
            </th>
            <th>
                Frecuencia
            </th>
            <th>
                TipoMedida
            </th>
            
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asunciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedioVerificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActorParticipante.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poblacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CWB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InclucionRC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncluyeAdvovacy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Target.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frecuencia.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoMedida.Nombre)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Estado.Nombre)
            </td>
            <td>
                <div class="btn-group">
                    <a onclick="jQueryModalGet('/Maestro/IndicadorPR/OnGetCreateOrEdit?id=@item.Id','Editar Indicador')" class="dropdown-item"><i class="fas fa-pencil-alt"></i>  Edit</a> 
                </div>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $("#indicadorPRTable").DataTable();
    });
</script>
