@using WordVision.ec.Web.Areas.Presupuesto.Models
@model IEnumerable<PresupuestoViewModel>

<form id="create-form" method="post" asp-controller="DatosT5" asp-action="OnPostCreateOrEdit" asp-route-idColaborador="@User.Claims.FirstOrDefault(x => x.Type == "Id")?.Value" onsubmit="return jQueryModalPost(this);" enctype="multipart/form-data">

    <div class="card card-info">
        <div class="card-header card-header-int">
          Reporte Presupuesto
        </div>
        <div class="card-body">
            <div class="table-responsive-md">
                <table id="colaboradorTable" class="table table-striped" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>T8</th>
                            <th>Descripcion T8</th>
                            <th>Precio</th>

                            <th>Cantidad</th>
                            <th>Total</th>
                            <th>Tipo</th>
                            <th>Mes/Anual</th>
                            @*@if ((AuthorizationService.AuthorizeAsync(User, Permissions.colaboradors.Delete)).Result.Succeeded
           || (AuthorizationService.AuthorizeAsync(User, Permissions.colaboradors.Edit)).Result.Succeeded)
        {*@

                            @*}*@
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var colaborador in Model)
                        {
                        <tr>
                            <td>
                                @colaborador.Id
                            </td>
                            <td>
                                @colaborador.T5
                            </td>
                            <td>
                                @colaborador.DescripcionT5
                            </td>
                            <td>
                                @colaborador.Precio
                            </td>
                           
                            <td>
                                @colaborador.Cantidad
                            </td>
                            <td>
                                @colaborador.Total
                            </td>
                          
                            <td>
                                @colaborador.Tipo
                            </td>
                            
                                @if (colaborador.Mes == 1)
                                {
                                    <td>
                                        "Mensual"
                                    </td>
                                }
                                else
                                { <td>
                                        "Anual"
                                    </td>
                                }

                       

                           

                        </tr>}
                    </tbody>
                </table>
            
            </div>
            <br />
            <div class="form-group">
                <div class="custom-file form-image">
                    <input accept=".csv"
                         name="Id"
                           type="file" class="custom-file-input"
                           
                           id="customFile">
                    <label class="custom-file-label" for="customFile">Seleccione CSV para cargar</label>
                </div>

            </div>


            <br />
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </div>
        </div>
    </div>


</form>
<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
    $(document).ready(function () {
        $("#colaboradorTable").DataTable({
            aoColumnDefs: [
                { "aTargets": [0], "bSortable": true },
                { "aTargets": [2], "asSorting": ["asc"], "bSortable": true },
            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            }
        });
    });
    //$("#BrandId").select2({
    //    placeholder: "Select a Category",
    //    theme: "bootstrap4",
    //    escapeMarkup: function (m) {
    //        return m;
    //    }
    //});</script>