@using WordVision.ec.Web.Areas.Donacion.Models
@model List<DonanteResponseViewModel>


<table id="personalTable" class="table table-striped " width="100%" cellspacing="0">
            <thead>
                <tr>


                     <th data-priority="1">Campaña</th>
                    <th data-priority="1">Donante</th>
                    
                    <th data-priority="1">Cédula</th>
                    <th data-priority="1">Estado Donante</th>
                    <th data-priority="1">Ciudad</th>
                    <th data-priority="1">Cantidad</th>
                

                    <th data-priority="2" class="acciones-th">Acciones</th>



                </tr>
            </thead>
            <tbody>
               
                @foreach (var d in Model.ToList())
                {
                <tr>
                   
                    <td>
                        @d.Campana
                     
                    </td>
                    <td>
                       @d.Donante
                    </td>
                   
                    <td>
                       @d.Cedula
                    </td>
                    <td>
                      @d.Estado
                      
                    </td>
                    <td>
                       @d.Ciudad
                    </td>
                    <td>
                      @d.Cantidad
                    </td>


                    <td class="acciones-td">

                        <button type="button" class="btn btn-success  btn-xp" title="Editar" id="btnViewModel" onclick="jQueryModalGet('/Donacion/Donante/OnGetCreateOrEdit?id=@d.Id', 'Donante')">
                            <i class="fa fa-pencil-square-o"></i>
                        </button>
                    </td>


                </tr>
                }
                
            </tbody>
        </table>

<script>

    $(document).ready(function () {
        var table = $("#personalTable").DataTable({
            aoColumnDefs: [
                { "aTargets": [0], "bSortable": true },
                { "aTargets": [2], "asSorting": ["asc"], "bSortable": true },
            ], dom: 'Bfrtip',buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ],
            "language": {
                "url": "/lib/datatables/language/Spanish.json"
            }
        });

        
    });
</script>

