@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using WordVision.ec.Web.Areas.Valoracion.Models
@model PlanificacionResultadoViewModel

<form id="create-form" method="post" asp-controller="Objetivo" asp-action="OnPostCreateOrEdit" asp-route-id="@Model.Id" asp-route-idAnioFiscal="@Model." onsubmit="return jQueryModalPost(this);" enctype="multipart/form-data">

<input type="hidden" asp-for="Id" name="Resultados.Id"  class="form-control">
           <input type="hidden" asp-for="IdObjetivo" name="IdObjetivo"  class="form-control">
          @* <input type="hidden" asp-for="Estado" name="Estado"  class="form-control">*@
           <input type="hidden" asp-for="NumeroObjetivo" name="NumeroObjetivo"  class="form-control">
           <input type="hidden" asp-for="AnioFiscal" name="AnioFiscal"  class="form-control">
           <input type="hidden" asp-for="PonderacionObjetivo" name="PonderacionObjetivo"  class="form-control">
           <input type="hidden" asp-for="TipoObjetivo" name="TipoObjetivo"  class="form-control">
           <input type="hidden" asp-for="IdObjetivoAnioFiscal" name="IdObjetivoAnioFiscal"  class="form-control">
           <input type="hidden" asp-for="ObjetivoAnioFiscales.IdObjetivo" name="ObjetivoAnioFiscales.IdObjetivo"  class="form-control">
            <input type="hidden" asp-for="ObjetivoAnioFiscales.AnioFiscal" name="ObjetivoAnioFiscales.AnioFiscal"  class="form-control">
            <input type="hidden" asp-for="ObjetivoAnioFiscales.Id" name="ObjetivoAnioFiscales.Id"  class="form-control">
            <input type="hidden" asp-for="IdColaborador" name="IdColaborador" value="@Convert.ToInt32(User.Claims.FirstOrDefault(x => x.Type == "Id")?.Value)" class="form-control">
            <input type="hidden" asp-for="ReportaId" name="ReportaId" value="@Convert.ToInt32(User.Claims.FirstOrDefault(x => x.Type == "ReportaA")?.Value)" class="form-control">
     @if (Model.NumeroObjetivo==5 || Model.NumeroObjetivo==6|| Model.NumeroObjetivo==7)
    {
         <input asp-for="Meta" type="hidden" name="Meta" value="0" class="form-control"  />
          <input asp-for="Ponderacion" type="hidden" name="Ponderacion" value="0" class="form-control"  />
          <input asp-for="FechaInicio" type="hidden" name="FechaInicio" value="01-01-2022" class="form-control"  />
        @if (Model.NumeroObjetivo==5)
        {
             <div class="form-group row">
             <div class="col-md-8">
                        <label class="col-md-12 col-form-label texto-pregunta">
                        Objetivo De Desarrollo(Descripción de objetivo de Desarrollo)</label>
                         <textarea asp-for="DatoManual1" name="DatoManual1" class="form-control"></textarea>
                        <span asp-validation-for="DatoManual1" class="text-danger"></span>
                    </div>
                     
                    <div class="col-md-4">
                        <label class="col-md-12 col-form-label texto-pregunta">Fecha Fin</label>
                         <input type="text" asp-for="FechaFin" name="FechaFin" class="datepicker form-control"  />
                        <span asp-validation-for="FechaFin" class="text-danger"></span>
                    </div>
            </div>
        }else if (Model.NumeroObjetivo==6)
        {
            <div class="form-group row">
             <div class="col-md-5">
                        <label class="col-md-12 col-form-label texto-pregunta">
¿Cuál y cuándo sería el siguiente paso en mi carrera?</label>
                        <textarea asp-for="DatoManual1" name="DatoManual1" class="form-control"></textarea>
                        <span asp-validation-for="DatoManual1" class="text-danger"></span>
                    </div>
                     <div class="col-md-5">
                        <label class="col-md-12 col-form-label texto-pregunta">
¿Qué puedo hacer para conseguirlo?</label>
                         <textarea asp-for="DatoManual2" name="DatoManual2" class="form-control"></textarea>
                        <span asp-validation-for="DatoManual2" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <label class="col-md-12 col-form-label texto-pregunta">Fecha Fin</label>
                         <input type="text" asp-for="FechaFin" name="FechaFin" class="datepicker form-control"  />
                        <span asp-validation-for="FechaFin" class="text-danger"></span>
                    </div>
            </div>
        }else if (Model.NumeroObjetivo==7)
        {
             <div class="form-group row">
             <div class="col-md-9">
                        <label class="col-md-12 col-form-label texto-pregunta">¿Qué enfoque adoptará este año para garantizar el equilibrio vital y cómo sabrá que lo ha conseguido?</label>
                        <textarea asp-for="DatoManual1" name="DatoManual1" class="form-control"></textarea>
                        <span asp-validation-for="DatoManual1" class="text-danger"></span>
                    </div>
                     
                    <div class="col-md-3">
                        <label class="col-md-12 col-form-label texto-pregunta">Fecha Fin</label>
                         <input type="text" asp-for="FechaFin" name="FechaFin" class="datepicker form-control"  />
                        <span asp-validation-for="FechaFin" class="text-danger"></span>
                    </div>
            </div>
        }

    }     
   else
   {
       @if (Model.NumeroObjetivo==1 || Model.NumeroObjetivo==2)
                {
               
                    <div class="form-group row">
                         <div class="col-md-6">
                             <label class="col-md-12 col-form-label texto-pregunta">Resultado</label>
                             @Html.DropDownListFor(x => x.IdResultado, (IEnumerable<SelectListItem>)Model.IdResultadoList, new { @class = "form-control" })
                              <span asp-validation-for="IdResultado" class="text-danger"></span>
                         </div>

                        <div class="col-md-6">
                            <div class="form-check form-check-inline">
                                @*@if (Model.IndicadorVinculadoEs.Count==0)
                                {*@
                                  <input class="form-control form-check-input" type="checkbox" name="chkOpcional" id="chkOpcional" value="1">  
                               @* }
                                else
                                {
                                   <input class="form-control form-check-input" type="checkbox" name="chkOpcional" id="chkOpcional" value="1" checked> 
                                }
                            *@
                                 <label class="form-check-label" for="chkVinculacion">Resultado opcional</label>
                                  @Html.DropDownListFor(x => x.IdResultado, (IEnumerable<SelectListItem>)Model.IdResultadoOpcionalList, new { @class = "form-control" })
                              
                            </div>
                        </div>         

                    </div>
                     <div class=" row" >
                         <div class="col-md-12">
                              <input type="text" value="" height="20" id="descResultado" name="descResultado" style="border:0px" class="col-md-12 col-form-label texto-pregunta" readonly  />
                         </div>
                    </div>
        
                }
                else if (Model.NumeroObjetivo==3 )
                {
                    @*<div class="form-group row">
                                            <div class="col-md-6">
                                                <label class="col-md-12 col-form-label texto-pregunta">Responsabilidad</label>
                                                @Html.DropDownListFor(x => x.IdResultado, (IEnumerable<SelectListItem>)Model.IdResponsabillidadList, new { @class = "form-control" })

                                                <span asp-validation-for="IdResultado" class="text-danger"></span>
                                            </div>
                                        </div>*@
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label class="col-md-12 col-form-label texto-pregunta">Responsabilidad</label>
                      
                                @Html.DropDownListFor(x => x.IdPadre, (IEnumerable<SelectListItem>)Model.IdResponsabillidadList,
                                " -- Seleccionar Responsabilidad --", new { @class = "form-control" })
                       
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-12 col-form-label texto-pregunta">Indicador</label>
                            @Html.DropDownListFor(x => x.IdResultado, (IEnumerable<SelectListItem>)Model.IdentificadorList,
                            " -- Seleccionar Indicador --", new { @class = "form-control" })

                            <span asp-validation-for="IdResultado" class="text-danger"></span>
                        </div> 
                    </div>
        
                }
                else if (Model.NumeroObjetivo==4 )
                {
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label class="col-md-12 col-form-label texto-pregunta">Competencia</label>
                      
                                @Html.DropDownListFor(x => x.IdPadreCompetencia, (IEnumerable<SelectListItem>)Model.IdCompetenciaList,
                                " -- Seleccionar Competencia --", new { @class = "form-control" })
                       
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-12 col-form-label texto-pregunta">Comportamientos</label>
                            @Html.DropDownListFor(x => x.IdResultado, new List<SelectListItem>(),
                            " -- Seleccionar Comportamiento --", new { @class = "form-control" })

                            <span asp-validation-for="IdResultado" class="text-danger"></span>
                        </div> 
                    </div>
        
                }
          
                <div class="form-group row">
                    @if (Model.NumeroObjetivo!=4 )
                    {
                         <div class="col-md-2">
                                <label class="col-md-12 col-form-label texto-pregunta">Meta</label>
                                <input asp-for="Meta" type="text" name="Meta" class="form-control"  />
                                <span asp-validation-for="Meta" class="text-danger"></span>
                </div>
            }
            else
            {
                 <input asp-for="Meta" type="hidden" name="Meta" value="0" class="form-control"  />
            }

                     <div class="col-md-4">
                        <label class="col-md-12 col-form-label texto-pregunta">Fecha Inicio</label>
                         <input type="text" asp-for="FechaInicio" name="FechaInicio" class="datepicker form-control"  />
                        <span asp-validation-for="FechaInicio" class="text-danger"></span>
                    </div>
                     <div class="col-md-4">
                        <label class="col-md-12 col-form-label texto-pregunta">Fecha Fin</label>
                         <input type="text" asp-for="FechaFin" name="FechaFin" class="datepicker form-control"  />
                        <span asp-validation-for="FechaFin" class="text-danger"></span>
                    </div>
                     <div class="col-md-2">
                        <label class="col-md-12 col-form-label texto-pregunta">Ponderación resultado</label>
                        <input asp-for="Ponderacion" type="text" name="Ponderacion" class="form-control"  />
                        <span asp-validation-for="Ponderacion" class="text-danger"></span>
                    </div>
                </div>
           
               @if (Model.NumeroObjetivo==3 )
               {
                   <br/>
                   <div class="card card-info">
                    <div class="card-header card-header-int">
                        Agregar Hitos
                    </div>
                        <div class="card-body">
                            <div class="container-fluid">
                           
                               <div class="form-group row">
                                   <div class="col-md-6">
                                    <label class="col-md-12 col-form-label texto-pregunta">Hito</label>
                                    <input asp-for="Hito" type="text" name="Hito" class="form-control"  />
                                    <span asp-validation-for="Hito" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="col-md-12 col-form-label texto-pregunta">Indicador</label>
                                        <input asp-for="IndicadorHito" type="text" name="IndicadorHito" class="form-control"  />
                                        <span asp-validation-for="IndicadorHito" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="col-md-12 col-form-label texto-pregunta">Tipo($,%,#)</label>
                                        @Html.DropDownListFor(x => x.TipoListHito, (IEnumerable<SelectListItem>)Model.TipoListHito, new { @class = "form-control" })
                      
                                        <span asp-validation-for="TipoListHito" class="text-danger"></span>
                                    </div>
                               </div>
                                 <div class="form-group row">
                                    <div class="col-md-2">
                                        <label class="col-md-12 col-form-label texto-pregunta">Meta</label>
                                        <input asp-for="MetaHito" type="text" name="MetaHito" class="form-control"  />
                                        <span asp-validation-for="MetaHito" class="text-danger"></span>
                                    </div>
                                     <div class="col-md-4">
                                        <label class="col-md-12 col-form-label texto-pregunta">Fecha Inicio</label>
                                         <input type="text" asp-for="FechaInicioHito" name="FechaInicioHito" class="datepicker form-control"  />
                                        <span asp-validation-for="FechaInicioHito" class="text-danger"></span>
                                    </div>
                                     <div class="col-md-4">
                                        <label class="col-md-12 col-form-label texto-pregunta">Fecha Fin</label>
                                         <input type="text" asp-for="FechaFinHito" name="FechaFinHito" class="datepicker form-control"  />
                                        <span asp-validation-for="FechaFinHito" class="text-danger"></span>
                                    </div>
               
                                 </div>
                                <div class="form-group row">
                                        <div class="col-md-4" style="padding-top: 25px;">
                                            <button type="button" class="btn bg-success" onclick="AgregaConcepto(); return false;"> <i class="fa fa-plus-square"></i> Agregar</button>
                                        </div>
                                </div>

         <div class="col-md-8" style="text-align: right;"><label class="col-md-12 col-form-label texto-pregunta" style="font-size: 15px !important;font-weight: bold;color:red">* Debe ingresar máximo 3 Hitos.</label>
 </div>  
                                <div id="divHitos">
                                    <table id="hitosTable" class="table table-striped  rwd-table" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                @*<th>Id</th>*@
                                                <th>Hito</th>
                                                <th>Indicador</th>
                                                <th>Tipo</th>
                                                <th>Meta</th>
                                                <th>Fecha Inicio</th>
                                                <th>Fecha Fin</th>
                                                <th class="text-right">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.PlanificacionHitos != null)
                                            {

                                                @*@foreach (var planifica in Model.ObjetivoAnioFiscales.PlanificacionResultados)
                                                {*@
                                                    @foreach (var hito in Model.PlanificacionHitos)
                                                    {
                                    
                                                    <tr id="@hito.Id" class="rowdata">
                                        
                                                        <td >

                                                            @hito.Nombre

                                                        </td>
                                        
                                                        <td >
                                                            @hito.Indicador
                                                        </td>
                                                        <td>
                                                            @switch (hito.Tipo)
                                                                {
                                                                    case 13:<span class="badge badge-primary">$</span> break;
                                                                    case 28:<span class="badge badge-warning">%</span> break;
                                                                    case 29:<span class="badge badge-warning">#</span> break;
                                                                }
                                                        </td>
                                                        <td class="mes">
                                                            @hito.Meta
                                                        </td>
                                                        <td>
                                                            @hito.FechaInicio.ToShortDateString()
                                                        </td>
                                                        <td>
                                                            @hito.FechaFin.ToShortDateString()
                                                        </td>
                                        
                                                        <td class="text-right">
                                                            <button type="button" class="btn btn-warning btn-xp" id="btnViewModel" onclick="ActualizaFila(@hito.Id,@hito.Nombre,@hito.Indicador,@hito.Tipo,@hito.Meta.ToString().Replace(",", "."),'@hito.FechaInicio','@hito.FechaFin')">
                                                                <i class="fas fa-pencil-alt"></i>
                                                            </button>
                                                            <button type="button" onclick="EliminaFila(@hito.Id)" class="btn btn-danger btn-xp"><i class="fas fa-trash-alt"></i></button>

                                                        </td>

                                                    </tr>
                                                    }
                                                }

                                            <input type="hidden" id="idact" name="idact" />
                                        </tbody>
                                    </table>

                                </div>
                               </div>
                              </div>
                </div>
               }
    }   
    @if (Model.Estado != 0)
    {
        <div class="form-group row">
            <div class="col-md-12">
                        <label class="col-md-12 col-form-label texto-pregunta">
                        Observación del Lider</label>
                         <textarea asp-for="ObservacionLider" name="ObservacionLider" class="form-control"></textarea>
                        <span asp-validation-for="ObservacionLider" class="text-danger"></span>
                    </div>
                     
                 
            </div>
     }
 <br />
    <div class="form-group justify-content-between" style="margin-bottom: 0px !important">
       
        <button type="submit" class="btn btn-success">Guardar</button>
        <button type="submit" id="btnCancelar" class="btn btn-default close-button" data-dismiss="modal">Cancelar</button>
    </div>

</form>


<script type="text/javascript" language=javascript>
    
     $(document).ready(function () {

         var numero=$("#NumeroObjetivo").val();
         
         if (numero===3 )
         {
                $.get("/Valoracion/Objetivo/GetIndicadorResponsabilidadList", { idResponsabilidad: $("#IdPadre").val() }, function (data) {
                    // VACIAMOS EL DropDownList
                    $("#IdResultado").empty();
                    // AÑADIMOS UN NUEVO label CON EL NOMBRE DEL ELEMENTO SELECCIONADO
                   // $("#IdResultado").append("<option value> -- Seleccionar Indicador de " + $("#IdPadre option:selected").text() + " --</option>")
                    // CONSTRUIMOS EL DropDownList A PARTIR DEL RESULTADO Json (data)
                    $.each(data, function (index, row) {
                        $("#IdResultado").append("<option value='" + row.id + "'>" + row.indicador + "</option>")
                    });
                 });
        }
 if (  numero===4)
 {
                 $.get("/Valoracion/Objetivo/GetComportamientosList", { idCompetencia: $("#IdPadreCompetencia").val() }, function (data) {
                    // VACIAMOS EL DropDownList
                    $("#IdResultado").empty();
                    // AÑADIMOS UN NUEVO label CON EL NOMBRE DEL ELEMENTO SELECCIONADO
                    //$("#IdResultado").append("<option value> -- Seleccionar Comportamiento de " + $("#IdPadreCompetencia option:selected").text() + " --</option>")
                    // CONSTRUIMOS EL DropDownList A PARTIR DEL RESULTADO Json (data)
                    $.each(data, function (index, row) {
                        $("#IdResultado").append("<option value='" + row.id + "'>" + row.comportamiento + "</option>")
                    });
                });
           }

            $("#IdPadreCompetencia").change(function () {
                $.get("/Valoracion/Objetivo/GetComportamientosList", { idCompetencia: $("#IdPadreCompetencia").val() }, function (data) {
                    // VACIAMOS EL DropDownList
                    $("#IdResultado").empty();
                    // AÑADIMOS UN NUEVO label CON EL NOMBRE DEL ELEMENTO SELECCIONADO
                   // $("#IdResultado").append("<option value> -- Seleccionar Comportamiento de " + $("#IdPadreCompetencia option:selected").text() + " --</option>")
                    // CONSTRUIMOS EL DropDownList A PARTIR DEL RESULTADO Json (data)
                    $.each(data, function (index, row) {
                        $("#IdResultado").append("<option value='" + row.id + "'>" + row.comportamiento + "</option>")
                    });
                });
            });

            $("#IdPadre").change(function () {
                $.get("/Valoracion/Objetivo/GetIndicadorResponsabilidadList", { idResponsabilidad: $("#IdPadre").val() }, function (data) {
                    // VACIAMOS EL DropDownList
                    $("#IdResultado").empty();
                    // AÑADIMOS UN NUEVO label CON EL NOMBRE DEL ELEMENTO SELECCIONADO
                    //$("#IdResultado").append("<option value> -- Seleccionar Indicador de " + $("#IdPadre option:selected").text() + " --</option>")
                    // CONSTRUIMOS EL DropDownList A PARTIR DEL RESULTADO Json (data)
                    $.each(data, function (index, row) {
                        $("#IdResultado").append("<option value='" + row.id + "'>" + row.indicador + "</option>")
                    });
                });
            });


            $("#IdResultado").change(function () {
                $.get("/Valoracion/Objetivo/GetResultado", { idResultado: $("#IdResultado").val() }, function (data) {
                   $("#descResultado").val(data.indicador);
                });
            });

        });

      $.validator.unobtrusive.parse(document);
   $(".datepicker").datepicker({
                                format: "dd-mm-yyyy",
            autoclose: true,
            todayBtn: true});

            var num = 0;
            function AgregaConcepto() {

            if (!CuentaHitos()) {
                alert("Puede ingresar máximo 3 hitos.");
                return;
            }

            let idact = document.getElementById("idact").value;

            if (idact.length != 0) {
                EliminaFila(idact);
            }
            let hito = document.getElementById("Hito").value;
            let indicador = document.getElementById("IndicadorHito").value;
            let tipo = document.getElementById("TipoListHito").value;
            //alert(tipo.length);
             if (tipo.length == 0) {
                alert("Ingrese el Tipo de Indicador.");
                return;
            }
            var selection = document.getElementById("TipoListHito");
            let tipoDesc = selection.options[selection.selectedIndex].innerHTML;
            
            let meta = document.getElementById("MetaHito").value;
            let fechaInicio = document.getElementById("FechaInicioHito").value;
            let fechaFin = document.getElementById("FechaFinHito").value;
                     
            if (hito.length == 0) {
                alert("Ingrese el Hito.");
                return;
            }
           
           
            if (indicador.length == 0) {
                alert("Ingrese el Indicador.");
                return;
            }
            if (meta.length == 0) {
                alert("Ingrese la Meta.");
                return;
            }
            if (fechaInicio.length == 0) {
                alert("Ingrese la Fecha de Inicio.");
                return;
            }

            if (fechaFin.length == 0) {
                alert("Ingrese la Fecha Fin.");
                return;
            }

            //agregamos tabla
            let Tabla = document.getElementById("hitosTable");
            let TR = document.createElement("tr");
            TR.setAttribute('id', num);
            TR.className = "rowdata";
            let TDHito = document.createElement("td");
            let TDIndicador = document.createElement("td");
            let TDTipo = document.createElement("td");
            let TDValorMeta = document.createElement("td");
            let TDFechaInicio = document.createElement("td");
            let TDFechaFin = document.createElement("td");
            
            let TDEliminar = document.createElement("td");
            TDEliminar.className = "text-right";
            TDValorMeta.className = "meta";
          
            TR.appendChild(TDHito);
            TR.appendChild(TDIndicador);
            TR.appendChild(TDTipo);
            TR.appendChild(TDValorMeta);
            TR.appendChild(TDFechaInicio);
            TR.appendChild(TDFechaFin);
           
            TR.appendChild(TDEliminar);
         
            TDHito.innerHTML = hito;
            TDIndicador.innerHTML = indicador;
            TDTipo.innerHTML = tipoDesc;
            TDValorMeta.innerHTML = meta;
            TDFechaInicio.innerHTML = fechaInicio;
            TDFechaFin.innerHTML = fechaFin;
            TDEliminar.innerHTML = " <button type='button' class='btn btn-warning btn-xp' id='btnViewModel' onclick='ActualizaFila(" + num + ',"' + hito.toString()+ '","' + indicador.toString() + '",' + tipo.toString()+ ',' + meta.replace(',', '.')+',"'+fechaInicio.toString()+'","'+fechaFin.toString()+'")'+"'> <i class='fas fa-pencil-alt'></i> </button> <button type='button' onclick='EliminaFila("+num+")' class='btn btn-danger btn-xp'><i class='fas fa-trash-alt'></i></button>";
            //TDTotal.innerHTML = parseFloat(Cantidad) * parseFloat(Precio);
            Tabla.appendChild(TR);

            //if (sumar()) {
            //    deleteRow(num);
            //    return;
            //}

            //agregamos hiddens
            let DivConceptos = document.getElementById("divHitos");
            let HiddenIndex = document.createElement("input");
            let HiddenNombre = document.createElement("input");
            let HiddenIndicador = document.createElement("input");
            let HiddenTipo = document.createElement("input");
            let HiddenValorMeta = document.createElement("input");
            let HiddenFechaInicio = document.createElement("input");
            let HiddenFechaFin = document.createElement("input");
            HiddenIndex.name = "PlanificacionHitos.Index";
            HiddenIndex.value = num;
            HiddenIndex.type = "hidden";
            HiddenNombre.name = "PlanificacionHitos[" + num + "].Nombre";
            HiddenNombre.value = hito;
            HiddenNombre.type = "hidden";
            HiddenIndicador.name = "PlanificacionHitos[" + num + "].Indicador";
            HiddenIndicador.value = indicador;
            HiddenIndicador.type = "hidden";
            HiddenTipo.name = "PlanificacionHitos[" + num + "].Tipo";
            HiddenTipo.value = tipo;
            HiddenTipo.type = "hidden";
            HiddenValorMeta.name = "PlanificacionHitos[" + num + "].Meta";
            HiddenValorMeta.value = meta.replace('.', ',');;
            HiddenValorMeta.type = "hidden";

            HiddenFechaInicio.name = "PlanificacionHitos[" + num + "].FechaInicio";
            HiddenFechaInicio.value = fechaInicio;
            HiddenFechaInicio.type = "hidden";
            HiddenFechaFin.name = "PlanificacionHitos[" + num + "].FechaFin";
            HiddenFechaFin.value = fechaFin;
            HiddenFechaFin.type = "hidden";

            DivConceptos.appendChild(HiddenIndex);
            DivConceptos.appendChild(HiddenNombre);
            DivConceptos.appendChild(HiddenIndicador);
            DivConceptos.appendChild(HiddenTipo);
            DivConceptos.appendChild(HiddenValorMeta);
            DivConceptos.appendChild(HiddenFechaInicio);
            DivConceptos.appendChild(HiddenFechaFin);

            document.getElementById("TipoListHito").value = "";
            document.getElementById("Hito").value = "";
            document.getElementById("IndicadorHito").value = "";
            document.getElementById("MetaHito").value = "";
            document.getElementById("FechaInicioHito").value = "";
            document.getElementById("FechaFinHito").value = "";



            num++;



     }


     function CuentaHitos() {

       const tableRows = document.querySelectorAll('#hitosTable tr.rowdata');
      
       if (tableRows.length<3)
       {
           return true;
       }
       return false;
    }

    function deleteRow(id) {
        $("#" + id).remove();
    }

    function EliminaFila(id) {

        $("#" + id).remove();

        var GestionViewModel = {
            id: id
        };

         $.ajax({
            type: "post",
            url:'@Url.Action("OnPostDeleteHito", "Objetivo", new { area = "Valoracion" })',
             data: GestionViewModel,
            datatype: "json",
            cache: false,
            success: function (data) {
            /*  alert('Validooo');*/

            },
            error: function(xhr) {
               // alert('No Valid Data');
            }
        });
    }

        function ActualizaFila(id,nombre,indicador,tipo,meta,fechaInicio,fechaFin) {
            alert(id);
            $("#TipoListHito").val(tipo);
            $("#TipoListHito").select2().trigger('change');

            document.getElementById("idact").value = id;
           document.getElementById("Hito").value = nombre;
            document.getElementById("IndicadorHito").value = indicador;
            document.getElementById("MetaHito").value = meta;
            document.getElementById("FechaInicioHito").value = fechaInicio;
            document.getElementById("FechaFinHito").value = fechaFin;

        }
</script>
