@using Microsoft.AspNetCore.Identity
@using WordVision.ec.Web.Areas.Valoracion.Models
@using WordVision.ec.Infrastructure.Data.Identity.Models;
@model WordVision.ec.Web.Areas.Valoracion.Pages.Objetivo.Wizard.Objetivo_1Step
@inject UserManager<ApplicationUser> UserManager

     
<table id="TableObj1"  class="table table-bordered " width="100%" cellspacing="0">


    <thead>
        <tr>
            @if(Model.NumeroObjetivo.Contains("5"))
            {
                <th data-priority="1" style="background-color:#F9D6BF;color: black;" width="30%">Objetivo De Desarrollo</th>
                <th data-priority="1" style="background-color:#F9D6BF;color: black;" width="20%">Fecha Finalización</th>
            }else if(Model.NumeroObjetivo.Contains("6"))
            {
                <th data-priority="1" style="background-color:#F9D6BF;color: black;" width="30%">¿Cuál y cuándo sería el siguiente paso en mi carrera?</th>
                <th data-priority="1" style="background-color:#F9D6BF;color: black;" width="30%">¿Qué puedo hacer para conseguirlo?</th>
                <th data-priority="1" style="background-color:#F9D6BF;color: black;" width="20%">Fecha Finalización</th>
            }else if(Model.NumeroObjetivo.Contains("7"))
            {
                
                <th data-priority="1" style="background-color:#F9D6BF;color: black;" width="30%">¿Qué enfoque adoptará este año para garantizar el equilibrio vital y cómo sabrá que lo ha conseguido?</th>
                <th data-priority="1" style="background-color:#F9D6BF;color: black;" width="20%">Fecha Finalización</th>

            }
            
                        
                        <th data-priority="2" class="acciones-th">Acciones</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var planificacion in Model.PlanificacionResultados)
        {
       <tr  id="@planificacion.IdPlanificacion" style="@(planificacion.Estado==3 && planificacion.ObservacionLider!=null?"background-color:red":"")" >
           
                            <td>
                               @planificacion.DatoManual1
                            </td> 

            @if(Model.NumeroObjetivo.Contains("6"))
            { 
                <td>
                               @planificacion.DatoManual2
                            </td> 
            }

                <td>
                    @if (planificacion.FechaFin!=null)
                    {
                       @planificacion.FechaFin.Value.ToShortDateString();
                    }
                
                </td>
                                               

            <td class="acciones-td">
           
                <button type="button" class="btn btn-success  btn-xp" data-toggle="tooltip" data-placement="top" title="Editar" btn-xp" id="btnViewModel" onclick="jQueryModalGet('/Valoracion/Objetivo/OnGetCreateOrEdit?id=@planificacion.IdPlanificacion&idColaborador=@Model.IdColaborador&idObjetivo=@Model.IdObjetivo&idObjetivoAnioFiscal=@Model.IdObjetivoAnioFiscal&idResultado=@planificacion.IdResultado&anioFiscal=@Model.AnioFiscal&objNumero=@Model.NumeroObjetivo&tipoObjetivo=4&ponderacionObjetivo=@Model.PonderacionObjetivo.ToString().Replace(",",".")','Objetivo @Model.NumeroObjetivo : @Model.Objetivo')">
                     <i class="@((planificacion.Estado==4 || planificacion.Estado==5)?"fas fa-bullseye":"fas fa-edit")"></i>
                </button>
                @if((planificacion.Estado==1 || planificacion.Estado==2|| planificacion.Estado==3))
                 {
                 <button type="button" onclick="EliminaFilaPregunta(@planificacion.IdPlanificacion,@User.Claims.FirstOrDefault(x => x.Type == "Id")?.Value,@Model.IdObjetivo,@Model.AnioFiscal,@Model.IdObjetivoAnioFiscal,@Model.NumeroObjetivo,@Model.PonderacionObjetivo.ToString().Replace(",","."))" class="btn btn-danger btn-xp">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                 }
          
            </td>

        </tr>
        }
    </tbody>
</table>

    
<script>

    $(document).ready(function () {
        var table = $("#TableObj1").DataTable({
aoColumnDefs: [
                { "aTargets": [0], "bSortable": true },
                { "aTargets": [2], "asSorting": ["asc"], "bSortable": true },
            ],
            "bFilter": false ,
               "bLengthChange" : false,"bPaginate": false,
            "language": {
                "url": "/lib/datatables/language/Spanish.json"
            },
           
            "info": false,"length":false
        });
        

        $('#valoracionTable tbody').on('dblclick', 'tr', function () {
            var data = table.row(this).data();

            jQueryModalGet('/Valoracion/Objetivo/OnGetCreateOrEdit?id=' + data[0], 'Solicitud');


        });

        /*  $(".dynmic-hidden-col").hide();*/

    });


     function EliminaFilaPregunta(id,idColaborador,idObjetivo, anioFiscal, idObjetivoAnioFiscal , numeroObjetivo , ponderacionObjetivo) {
        if (confirm('¿Estás segura de eliminar este registro?')) {
        $("#" + id).remove();
        var IdiomaViewModel = {
            id: id,
            idColaborador:idColaborador,
            idObjetivo:idObjetivo, 
            anioFiscal:anioFiscal, 
            idObjetivoAnioFiscal:idObjetivoAnioFiscal ,
            numeroObjetivo:numeroObjetivo , 
            ponderacionObjetivo:ponderacionObjetivo

        };
         $.ajax({
            type: "post",
            url:'@Url.Action("OnPostDelete", "objetivo", new { area = "Valoracion" })',
            data: IdiomaViewModel,
            datatype: "json",
            cache: false,
            success: function (data) {
            /*  alert('Validooo');*/

            },
            error: function(xhr) {
               // alert('No Valid Data');
            }
        });
      }
    }
</script>
