@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using WordVision.ec.Web.Areas.Soporte.Models
@model SolicitudViewModel


<form id="create-form" method="post" asp-controller="Solicitud" asp-action="OnPostCreateOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryModalPost(this);" enctype="multipart/form-data">

    <div class="row">
        <div class="col-md-12">
            <label class="col-md-12 col-form-label texto-pregunta">No. Solicitud: @Model.Id </label>
            <br /><br />
            <input type="hidden" asp-for="Op" name="Op" class="form-control">
            <input type="hidden" asp-for="IdColaborador" name="IdColaborador" value="@Convert.ToInt32(User.Claims.FirstOrDefault(x => x.Type == "Id")?.Value)" class="form-control">
            @if (Model.Estado == 2)
            {
                <div class="form-group row">
                    <div class="col-md-6">
                        <label class="col-md-12 col-form-label texto-pregunta">Asignar a</label>
                        @Html.DropDownListFor(x => x.IdAsignadoA, (IEnumerable<SelectListItem>)Model.AsignadoAList, new { @class = "form-control" })

                        <span asp-validation-for="IdAsignadoA" class="text-danger"></span>
                    </div>
                </div>

            }
            <div class="form-group row">
                <div class="col-md-2">
                    <label class="col-md-12 col-form-label texto-pregunta">Estado</label>
                    @Html.DropDownListFor(x => x.Estado, (IEnumerable<SelectListItem>)Model.EstadoList, new { @class = "form-control", @disabled = "disabled" })

                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label class="col-md-12 col-form-label texto-pregunta">Persona de contacto</label>
                    <input type="text" asp-for="Mensajerias.PersonaaContactar" name="Mensajerias.PersonaaContactar" class="form-control">
                    <span asp-validation-for="Mensajerias.PersonaaContactar" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label class="col-md-12 col-form-label texto-pregunta">Teléfono</label>
                    <input asp-for="Mensajerias.Telefono" name="Mensajerias.Telefono" class="form-control">
                    <span asp-validation-for="Mensajerias.Telefono" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label class="col-md-12 col-form-label texto-pregunta">Celular</label>
                    <input asp-for="Mensajerias.Celular" name="Mensajerias.Celular" class="form-control" />
                    <span asp-validation-for="Mensajerias.Celular" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label class="col-md-12 col-form-label texto-pregunta">Fecha requerida</label>
                    <input type="text" asp-for="Mensajerias.FechaRequerida" name="Mensajerias.FechaRequerida" class="datepicker form-control" />
                    <span asp-validation-for="Mensajerias.FechaRequerida" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label class="col-md-12 col-form-label texto-pregunta">Archivo adjunto</label>
                    <div class="custom-file form-image">
                        @if (Model.Mensajerias != null)
                        {
                            if (Model.Mensajerias.Archivo != null && Model.Mensajerias.Archivo.Length > 0)
                            {
                                <a href='/soporte/solicitud/ShowPDF?idSolicitud=@Model.Id&tipo=1' target="_blank"><i class="fas fa-handshake"></i>Archivo Adjunto</a>
                            }
                        }
                        else

                        {
                            <input accept=".pdf"
                                   asp-for="@Model.Mensajerias.Archivo"
                                   type="file" class="custom-file-input"
                                   id="customFile">

                            if (Model.Mensajerias != null)
                            {
                                if (Model.Mensajerias.Archivo != null && Model.Mensajerias.Archivo.Length > 0)
                                {
                                    <label class="custom-file-label" for="customFile">Archivo almacenado</label>
                                }
                                else
                                {
                                    <label class="custom-file-label" for="customFile">Buscar Archivo</label>
                                }
                            }
                            else
                            {
                                <label class="custom-file-label" for="customFile">Buscar Archivo</label>
                            }
                        }

                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12">
                    <label class="col-md-12 col-form-label texto-pregunta">Descripción del tramite</label>
                    <textarea asp-for="Mensajerias.DescripcionTramite" name="Mensajerias.DescripcionTramite" class="form-control"></textarea>
                    <span asp-validation-for="Mensajerias.DescripcionTramite" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label class="col-md-12 col-form-label texto-pregunta">Dirección</label>
                    <textarea asp-for="Mensajerias.Direccion" name="Mensajerias.Direccion" class="form-control"></textarea>
                    <span asp-validation-for="Mensajerias.Direccion" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label class="col-md-12 col-form-label texto-pregunta">Información Adicional</label>
                    <textarea asp-for="Mensajerias.InformacionAdicional" name="Mensajerias.InformacionAdicional" class="form-control"></textarea>
                    <span asp-validation-for="Mensajerias.InformacionAdicional" class="text-danger"></span>
                </div>
            </div>



            @if (Model.Estado == 2 || Model.Estado == 3 || Model.Estado == 4 || Model.Estado == 5)
            {
                <div class="form-group row">
                    <div class="col-md-6">
                        <label class="col-md-12 col-form-label texto-pregunta">Observación Asignación</label>
                        <textarea asp-for="ObservacionesSolucion" name="ObservacionesSolucion" class="form-control"></textarea>
                        <span asp-validation-for="ObservacionesSolucion" class="text-danger"></span>
                    </div>
                    @if (Model.Estado == 3 || Model.Estado == 4 || Model.Estado == 5)
                    {

                        <div class="col-md-6">
                            <label class="col-md-12 col-form-label texto-pregunta">Descripción Solución</label>
                            <textarea asp-for="DescripcionSolucion" name="DescripcionSolucion" class="form-control"></textarea>
                            <span asp-validation-for="DescripcionSolucion" class="text-danger"></span>
                        </div>

                    }
                </div>
                @if (Model.Op == 1)
                {
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label class="col-md-12 col-form-label texto-pregunta">Nivel de Satisfacción</label>
                            <div class="Clear">
                                <input class="star" type="radio" asp-for="EstadoSatisfaccion" name="EstadoSatisfaccion" value="1" />
                                <input class="star" type="radio" asp-for="EstadoSatisfaccion" name="EstadoSatisfaccion" value="2" />
                                <input class="star" type="radio" asp-for="EstadoSatisfaccion" name="EstadoSatisfaccion" value="3" />
                                <input class="star" type="radio" asp-for="EstadoSatisfaccion" name="EstadoSatisfaccion" value="4" />
                                <input class="star" type="radio" asp-for="EstadoSatisfaccion" name="EstadoSatisfaccion" value="5" />
                            </div>
                            <span asp-validation-for="EstadoSatisfaccion" class="text-danger"></span>
                        </div>
                    </div>

                }
            }

        </div>
            </div>


    <br />
    <div class="form-group justify-content-between" style="margin-bottom: 0px !important">
        @if (Model.Op != 1)
        {
            <button type="submit" class="btn btn-success">Guardar</button>
        }
        @if (Model.Id == 0)
        {
            <button type="submit" class="btn btn-success">Guardar</button>
        }
        <button type="submit" class="btn btn-default close-button" data-dismiss="modal">Cancelar</button>
        @if (Model.Estado == 4 || Model.Estado == 3)
        {
            @if (Model.Op == 1)
            {
                <input type="hidden" asp-for="Fin" name="Fin" class="form-control" value="5">
            }
            else
            {
                <input type="hidden" asp-for="Fin" name="Fin" class="form-control" value="4">

            }
            <button type="submit" class="btn btn-primary">Finalizar Soporte</button>
        }
    </div>
</form>

<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
    $(function () {
        $(".datepicker").datepicker({
                                format: "dd-mm-yyyy",
            autoclose: true,
            todayBtn: true});
                            //$("#VigDesde").datepicker({ dateFormat: 'dd-mm-yy' });
                            //$("#VigHasta").datepicker({ dateFormat: 'dd-mm-yy' });

                        });

    $("#BrandId").select2({
                            placeholder: "Select a Category",
        theme: "bootstrap4",
        escapeMarkup: function (m) {
                                    return m;
                                }
                            });


                        var num = 0;
                            function AgregaConcepto() {
                                let Anio = document.getElementById("AnioGestion").value;
                                let Descripcion = document.getElementById("DescGestion").value;
                                let Estado = document.getElementById("EstadoGestion").value;
                                let IdEstrategia = document.getElementById("Id").value;

                                if (Descripcion.length == 0) {
                                    alert("Ingrese la Gestion.");
                                    return;
                                }


                                //agregamos tabla
                                let Tabla = document.getElementById("gestionTable");
                                let TR = document.createElement("tr");
                                TR.setAttribute('id', num);
                                // let TDId = document.createElement("td");
                                let TDAnio = document.createElement("td");
                                let TDDescripcion = document.createElement("td");
                                let TDEstado = document.createElement("td");
                                let TDEliminar = document.createElement("td");
                                TDEliminar.className = "text-right";
                                //let TDTotal = document.createElement("td");
                                // TR.appendChild(TDId);
                                TR.appendChild(TDAnio);
                                TR.appendChild(TDDescripcion);
                                TR.appendChild(TDEstado);
                                TR.appendChild(TDEliminar);
                                //TR.appendChild(TDTotal);
                                // TDId.innerHTML = num;
                                TDAnio.innerHTML = Anio;
                                TDDescripcion.innerHTML = Descripcion;
                                TDEstado.innerHTML = Estado;
                                TDEliminar.innerHTML = " <button type='button' onclick='EliminaFila("+num+")' class='btn btn-danger btn-xp'><i class='fas fa-trash-alt'></i>  Eliminar</button>";
                                //TDTotal.innerHTML = parseFloat(Cantidad) * parseFloat(Precio);
                                Tabla.appendChild(TR);

                                //agregamos hiddens
                                let DivConceptos = document.getElementById("divGestion");
                                let HiddenIndex = document.createElement("input");
                                let HiddenAnio = document.createElement("input");
                                let HiddenDescripcion = document.createElement("input");
                                let HiddenEstado = document.createElement("input");
                                HiddenIndex.name = "gestion.Index";
                                HiddenIndex.value = num;
                                HiddenIndex.type = "hidden";
                                HiddenAnio.name = "gestion[" + num + "].Anio";
                                HiddenAnio.value = Anio;
                                HiddenAnio.type = "hidden";
                                HiddenDescripcion.name = "gestion[" + num + "].Descripcion";
                                HiddenDescripcion.value = Descripcion;
                                HiddenDescripcion.type = "hidden";
                                HiddenEstado.name = "gestion[" + num + "].Estado";
                                HiddenEstado.value = Estado;
                                HiddenEstado.type = "hidden";
                                DivConceptos.appendChild(HiddenIndex);
                                DivConceptos.appendChild(HiddenAnio);
                                DivConceptos.appendChild(HiddenDescripcion);
                                DivConceptos.appendChild(HiddenEstado);

                                document.getElementById("AnioGestion").value = "";
                                document.getElementById("DescGestion").value = "";
                                document.getElementById("EstadoGestion").value = "";

                                num++;



                                var GestionViewModel = {
                Descripcion: Descripcion,
                Anio: Anio,
                Estado: Estado,
                IdEstrategia: IdEstrategia
    
            };

        $.ajax({
                            type: "post",
            url:'@Url.Action("OnPostCreateOrEdit", "Gestion", new { area = "Planificacion" })',
            data: GestionViewModel,
            datatype: "json",
            cache: false,
            success: function (data) {
                                    /* alert('Validooo');*/

                                },
            error: function(xhr) {
                                    //    alert('No Valid Data');
                                }
                            });

        }

                        function deleteRow(id) {
        $("#" + id).remove();
                        }

                        function EliminaFila(id) {

        $("#" + id).remove();

                            var GestionViewModel = {
            id: id
        };

         @*$.ajax({
            type: "post",
            url:'@Url.Action("OnPostDelete", "Idioma", new { area = "Registro" })',
             data: GestionViewModel,
            datatype: "json",
            cache: false,
            success: function (data) {
            /*  alert('Validooo');*/

            },
            error: function(xhr) {
               // alert('No Valid Data');
            }
        });*@
    }

</script>
