@using WordVision.ec.Web.Areas.Planificacion.Models
@model FactorCriticoExitoViewModel

<table id="anioFiscalTable" class="table table-striped " width="100%" cellspacing="0">
    <thead>
        <tr>

            <th data-priority="1">Indicador</th>
            <th data-priority="2">Responsable</th>
            <th data-priority="2">Línea base</th>
            <th data-priority="2">Meta acumulada ciclo</th>
            <th data-priority="2" class="acciones-th">Acciones</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var anioFiscal in Model.IndicadorEstrategicos)
        {
        <tr id="@anioFiscal.Id">

            <td>
                @anioFiscal.IndicadorResultado
            </td>
            <td>@{ 

                var selectedCity = (IEnumerable<SelectListItem>)Model.responsableList;
                string txt = selectedCity.Where(x => x.Value == anioFiscal.Responsable.ToString()).FirstOrDefault()?.Text??string.Empty;

            }
                @txt
            </td>
            <td>
                @anioFiscal.LineaBase
            </td>
            <td>
                @anioFiscal.Meta
            </td>

            <td class="acciones-td">
                <button type="button" class="btn btn-warning btn-xp" id="btnViewModel" onclick="jQueryModalGet('/Planificacion/IndicadorEstrategico/OnGetCreateOrEdit?id=@anioFiscal.Id&IdFactorCritico=@Model.Id&IdEstrategia=@Model.IdEstrategia&IdObjetivoEstrategico=@Model.IdObjetivoEstra','Indicador de Resultados')">
                    <i class="fas fa-pencil-alt"></i>
                </button>
                @if ((AuthorizationService.AuthorizeAsync(User, Permissions.IndicadorEstrategico.Delete)).Result.Succeeded)
                {
                    <button type="button" onclick="EliminaFila(@anioFiscal.Id)" class="btn btn-danger btn-xp"><i class="fas fa-trash-alt"></i></button>
                }
                    @*<form id="form_delete_@anioFiscal.Id" asp-area="Planificacion" asp-controller="IndicadorEstrategico" method="post" asp-action="OnPostDelete" asp-route-id="@anioFiscal.Id" asp-route-idFactor="@Model.Id" onsubmit="return jQueryModalDelete(this)">
                <a href="javascript:$('#form_delete_@anioFiscal.Id').submit();" class="btn btn-danger btn-xp"><i class="fas fa-trash-alt"></i> </a>
            </form>*@
                </td>

        </tr>
        }
    </tbody>
</table>

<br />
<div class="form-group justify-content-between" style="margin-bottom: 0px !important">
    @*<button type="submit" class="btn btn-success">Guardar</button>*@
    <button type="submit" class="btn btn-default close-button" data-dismiss="modal">Cancelar</button>
</div>
<script>
     function EliminaFila(id) {
           if (confirm('¿Estás segura de eliminar este registro?')) {
       
      

        var GestionViewModel = {
            id: id
        };

         $.ajax({
            type: "post",
            url:'@Url.Action("OnPostDelete", "IndicadorEstrategico", new { area = "Planificacion" })',
             data: GestionViewModel,
            datatype: "json",
            cache: false,
            success: function (data) {
            /*  alert('Validooo');*/
              $("#" + id).remove();
            },
            error: function(xhr) {
               // alert('No Valid Data');
            }
        });
        }
    }

    $(document).ready(function () {
        var table = $("#anioFiscalTable").DataTable({
            aoColumnDefs: [
                { "aTargets": [0], "bSortable": true },
                { "aTargets": [2], "asSorting": ["asc"], "bSortable": true },
            ],
            "language": {
                "url": "/lib/datatables/language/Spanish.json"
            },

            responsive: true,
            columnDefs: [
                { responsivePriority: 1, targets: 0 },
                { responsivePriority: 2, targets: -1 }
            ],
            "info": false
            //columnDefs: [
            //    { responsivePriority: 1, targets: 0 },
            //    { responsivePriority: 10001, targets: 4 },
            //    { responsivePriority: 2, targets: -2 }
            //]
        });



    });
</script>
