@model IEnumerable<WordVision.ec.Web.Areas.Indicadores.Models.VinculacionIndicadorViewModel>

<table id="vinculacionIndicadorTable" class="table table-striped" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Riesgos)
            </th>
            <th>
                Plan Nacional Desarrollo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CWB)
            </th>
            <th>
                IndicadorPR
            </th>
            <th>
                Otro Indicador
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Riesgos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanNacionalDesarrollo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CWB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndicadorPR.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtroIndicador.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado.Nombre)
            </td>
            <td>
                <div class="btn-group">
                    <a onclick="jQueryModalGet('/Indicadores/VinculacionIndicador/OnGetCreateOrEdit?id=@item.Id','Editar Vinculación Indicadores')" class="dropdown-item"><i class="fas fa-pencil-alt"></i>  Edit</a> 
                </div>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $("#vinculacionIndicadorTable").DataTable();
    });
</script>
