@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using WordVision.ec.Web.Areas.Registro.Models
@model ColaboradorViewModel
<form id="create-form" method="post" asp-controller="Colaborador" asp-action="OnPostCreateOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryModalPost(this);" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <div class="col-md-6">
                    <label class="col-md-12 col-form-label">@localizer["Apellido Paterno"]</label>

                    <input type="text" asp-for="Apellidos" name="Apellidos" class="form-control" />
                    <span asp-validation-for="Apellidos" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label class="col-md-12 col-form-label">@localizer["Apellido Materno"]</label>

                    <input type="text" asp-for="ApellidoMaterno" name="ApellidoMaterno" class="form-control" />
                    <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label class="col-md-3 col-form-label">PrimerNombre</label>

                    <input type="text" asp-for="PrimerNombre" name="PrimerNombre" class="form-control">
                    <span asp-validation-for="PrimerNombre" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label class="col-md-3 col-form-label">SegundoNombre</label>

                    <input type="text" asp-for="SegundoNombre" name="SegundoNombre" class="form-control" />
                    <span asp-validation-for="SegundoNombre" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="col-md-3 col-form-label">Identificacion</label>

                            <input type="text" asp-for="Identificacion" name="Identificacion" class="form-control" />
                            <span asp-validation-for="Identificacion" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="col-md-3 col-form-label">Direccion</label>

                            @Html.DropDownListFor(x => x.LugarTrabajo, Model.LugarTrabajoList, new { @class = "form-control" })

                            <span asp-validation-for="LugarTrabajo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <table id="colaboradorTable" class="table table-striped " width="100%" height="100%" cellspacing="0">
                        <thead>
                            <tr>

                                <th data-priority="1">Apellidos</th>
                                <th>Nombres</th>
                              
                                <th data-priority="2">Documentos</th>
                            </tr>
                        </thead>
                        <tbody>
                           @if (Model.Formularios!=null)
                            @foreach (var formulario in Model.Formularios)
                            {
                                @foreach (var colaborador in formulario.FormularioTerceros)
                                {
                                    <tr>

                                        <td>
                                            @colaborador.Terceros.PrimerApellido @colaborador.Terceros.SegundoApellido
                                        </td>
                                        <td>
                                            @colaborador.Terceros.PrimerNombre @colaborador.Terceros.SegundoNombre
                                        </td>

                                        <td class="text-right">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Descargar
                                                </button>
                                                <div class="dropdown-menu shadow animated--grow-in">

                                                    <a href="/registro/documento/ShowPDFTercero?idTercero=@colaborador.Terceros.Id" target="_blank" class="dropdown-item"><i class="fas fa-file"></i>  Cédula</a>
                                                   

                                                </div>
                                            </div>
                                        </td>


                                    </tr>
                            }}
                        </tbody>
                    </table>
                </div>
            </div>



            <div class="form-group row">
                <div class="col-md-6">
                    <label class="col-md-3 col-form-label">Area</label>

                    @Html.DropDownListFor(x => x.Area, Model.AreaList, new { @class = "form-control" })

                    <span asp-validation-for="Area" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label class="col-md-3 col-form-label">Cargo</label>

                    @Html.DropDownListFor(x => x.Cargo, Model.CargoList, new { @class = "form-control" })
                    <span asp-validation-for="Cargo" class="text-danger"></span>
                </div>
            </div>
        </div>


    </div>

    <div class="form-group justify-content-between" style="margin-bottom: 0px !important">
        <button type="submit" class="btn btn-success">Grabar</button>
        <button type="submit" class="btn btn-default close-button" data-dismiss="modal">Cancelar</button>
    </div>
</form>
<script type="text/javascript" language=javascript>$.validator.unobtrusive.parse(document);
    //$("#BrandId").select2({
    //    placeholder: "Select a Category",
    //    theme: "bootstrap4",
    //    escapeMarkup: function (m) {
    //        return m;
    //    }
    //});</script>