@model IEnumerable<WordVision.ec.Web.Areas.Maestro.Models.OtroIndicadorViewModel>


<table id="otroIndicadorTable" class="table table-striped" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                Código
            </th>
            <th>
                Descripción
            </th>
            <th>
                Asunciones
            </th>
            <th>
                Frecuencia
            </th>
            <th>
                Tipo Indicador
            </th>
            <th>
                Tipo Medida
            </th>
            <th>
                Actor Participante
            </th>
            <th>
                Área
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asunciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frecuencia.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoIndicador.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoMedida.Nombre)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.ActorParticipante.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado.Nombre)
            </td>
            <td>
                <div class="btn-group">
                    <a onclick="jQueryModalGet('/Maestro/OtroIndicador/OnGetCreateOrEdit?id=@item.Id','Editar Otro Indicador')" class="dropdown-item"><i class="fas fa-pencil-alt"></i>  Edit</a> 
                </div>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $("#otroIndicadorTable").DataTable();
    });
</script>

