@using WordVision.ec.Web.Areas.Encuesta.Models
@model List<EncuestaKoboViewModel>

@{ ViewBag.Title = "Datos Kobo";}

<div style="border:solid; border-width:1px; padding:5px;">
    <div class="row">
        <div class="col-md-12">
            <label class="col-md-12 col-form-label texto-pregunta" style="color:#666666">Para mantener Nuestra Promesa</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label class="col-md-12 col-form-label texto-pregunta" style="color:#EC7D31">Establecer 3-5 objetivos de Desempeño para este año - CLARIDAD</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label class="col-md-12 col-form-label texto-pregunta">Incluya tanto el QUÉ <font style="color:#2ED4E0">(Resultado)</font> como el CÓMO <font style="color:#2ED4E0">(mentalidades y comportamientos)</font> se lograrán los objetivos. Utiliza los hitos para considerar cómo vas a hacer un seguimiento del progreso a lo largo del año, al menos trimestralmente*.</label>
        </div>
    </div>
</div>

<br />


<a asp-action="LoadFromAPI" class="btn btn-sm btn-primary">Sincronizar Encuestas con Servidor Kobo</a>

<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Descripción</th>
            <th>Últ. Sincronización</th>
            <th># de Preguntas</th>
            <th># de Encuestados</th>
            <th data-priority="2" class="acciones-th">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var fila in Model)
            {
                <tr>
                    <td>@fila.Id</td>
                    <td>@fila.enk_Title</td>
                    <td>@fila.enk_Description</td>
                    <td>@fila.enk_Fecha</td>
                    <td>@fila.NumPreguntas</td>
                    <td>@fila.NumEncuestados</td>
                    <td>
                        <a asp-action="SyncRespuestasAPI" asp-route-id="@fila.Id" class="btn btn-sm btn-primary">
                            Sync
                        </a>
                    </td>
                    <td>
                        <a asp-action="SyncAllRespuestasAPI" asp-route-id="@fila.Id" class="btn btn-sm btn-primary">
                            SyncAll
                        </a>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>

<hr />

<div style="border:solid; border-width:1px; padding:5px;">
    <div class="row">
        <div class="col-md-12">
            <label class="col-md-12 col-form-label texto-pregunta" style="color:#666666">Para mantener Nuestra Promesa</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label class="col-md-12 col-form-label texto-pregunta" style="color:#EC7D31">Establecer 3-5 objetivos de Desempeño para este año - CLARIDAD</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label class="col-md-12 col-form-label texto-pregunta">Incluya tanto el QUÉ <font style="color:#2ED4E0">(Resultado)</font> como el CÓMO <font style="color:#2ED4E0">(mentalidades y comportamientos)</font> se lograrán los objetivos. Utiliza los hitos para considerar cómo vas a hacer un seguimiento del progreso a lo largo del año, al menos trimestralmente*.</label>
        </div>
    </div>
</div>

<br />


Ejecutar cálculo de indicadores con datos cargados. (Esta operación puede demorar hasta 20 minutos)
<form asp-action="GenerarKPI" method="get">
    <div >
        <p style="display:flex;">
            @Html.DropDownList("EvaluacionID", (IEnumerable <SelectListItem>)ViewData["EEvaluacionesList"])
            <input type="submit" value="Generar Resultados Indicadores" class="btn btn-sm btn-primary" />
        </p>
    </div>
</form>
