@using WordVision.ec.Web.Areas.Encuesta.Models
@model List<EncuestaKoboViewModel>

@{ ViewBag.Title = "Encuestas Kobo";}

<a asp-action="LoadFromAPI" class="btn btn-sm btn-primary">Sincronizar Encuestas con Servidor Kobo</a>

<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Descripción</th>
            <th>Últ. Sincronización</th>
            <th># de Preguntas</th>
            <th># de Encuestados</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var fila in Model)
            {
                <tr>
                    <td>@fila.Id</td>
                    <td>@fila.enk_Title</td>
                    <td>@fila.enk_Description</td>
                    <td>@fila.enk_Fecha</td>
                    <td>@fila.NumPreguntas</td>
                    <td>@fila.NumEncuestados</td>
                    <td>
                        <a asp-action="SyncRespuestasAPI" asp-route-id="@fila.Id" class="btn btn-sm btn-primary">
                            Sync
                        </a>
                    </td>
                    <td>
                        <a asp-action="SyncAllRespuestasAPI" asp-route-id="@fila.Id" class="btn btn-sm btn-primary">
                            SyncAll
                        </a>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>

<hr />
Ejecutar cálculo de indicadores con datos cargados. (Esta operación puede demorar hasta 20 minutos)
<form asp-action="GenerarKPI" method="get">
    <div >
        <p style="display:flex;">
            @Html.DropDownList("EvaluacionID", (IEnumerable <SelectListItem>)ViewData["EEvaluacionesList"])
            <input type="submit" value="Generar Resultados Indicadores" class="btn btn-default" />
        </p>
    </div>
</form>
