@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using WordVision.ec.Web.Areas.Planificacion.Models
@model IndicadorPOAViewModel
@*<style>
    .modal-header {
        background-color: #2F75B5 !important;
    }
    thead {
        background-color: #2F75B5 !important;
    }
</style>*@
    <div id="header" class="row titulopopup">
        <div class="col-6">
            <h6 class="h5 mb-2 text-gray-800-b">Objetivo: </h6>@Model.DescObjetivo
        </div>
        <div class="col-6" style="text-align: right;">
            <h6 class="h5 mb-2 text-gray-800-b">Factor: </h6>@Model.DescFactor
        </div>

    </div>

    <div id="header" class="row titulopopup">
        <div class="col-6">
            <h6 class="h5 mb-2 text-gray-800-b">Indicador: </h6>@Model.DescIndicador
        </div>

        <div class="col-3" style="text-align: right;">
            <h6 class="h5 mb-2 text-gray-800-b">Línea Base: </h6>@Model.DescLineaBase
        </div>
        <div class="col-3" style="text-align: right;">
            <h6 class="h5 mb-2 text-gray-800-b">Meta  @Model.DescGestion: </h6>@Model.DescMeta @Model.DescUnidad
        </div>

    </div>

    <div id="header" class="row titulopopup">
        <div class="col-6">
            <h6 class="h5 mb-2 text-gray-800-b">Producto: </h6>@Model.DescProducto
        </div>
        <div class="col-6" style="text-align: right;">
            <h6 class="h5 mb-2 text-gray-800-b">Responsable: </h6>@Model.ResponsableIndicador
        </div>

    </div>

    <hr />

    <form id="create-form" method="post" asp-controller="IndicadorPOA" asp-action="OnPostCreateOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryModalPost(this);" enctype="multipart/form-data">
        @Html.HiddenFor(x => x.IdProducto)
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <div class="col-md-12">
                        <label class="col-md-12 col-form-label texto-pregunta">Indicador de Producto</label>

                        <textarea asp-for="IndicadorProducto" name="IndicadorProducto" class="form-control"></textarea>
                        <span asp-validation-for="IndicadorProducto" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label class="col-md-12 col-form-label texto-pregunta">Medio Verificacion</label>

                        <textarea asp-for="MedioVerificacion" name="MedioVerificacion" class="form-control"></textarea>
                        <span asp-validation-for="MedioVerificacion" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-5">
                        <label class="col-md-12 col-form-label texto-pregunta">Responsable</label>

                        @Html.DropDownListFor(x => x.Responsable, (IEnumerable<SelectListItem>)Model.responsableList, new { @class = "form-control" })
                        <span asp-validation-for="Responsable" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <label class="col-md-12 col-form-label texto-pregunta text-left">Unidad Medida</label>
                        @Html.DropDownListFor(x => x.UnidadMedida, Model.UnidadList, new { @class = "form-control" })

                        <span asp-validation-for="UnidadMedida" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <label class="col-md-12 col-form-label texto-pregunta text-left">Linea Base</label>
                        <input asp-for="LineaBase" type="text" name="LineaBase" class="form-control" />
                        <span asp-validation-for="LineaBase" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label class="col-md-12 col-form-label texto-pregunta text-left">Meta Acumulada Ciclo</label>
                        <input asp-for="Meta" type="text" name="Meta" class="form-control" />
                        <span asp-validation-for="Meta" class="text-danger"></span>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <hr />
                            </div>
                            <div class="col-md-12">
                                <label class="col-md-12 col-form-label">Metas de Indicador</label>
                            </div>
                        </div>
                        <div class="form-group row">

                            <div class="col-md-2">
                                <label class="col-md-12 col-form-label texto-pregunta text-left">Trimestre</label>
                                @Html.DropDownListFor(x => x.NumMesesList, Model.NumMesesList, new { @class = "form-control" })
                                <span asp-validation-for="NumMesesList" class="text-danger"></span>
                            </div>

                            @*<div class="col-md-3">
                                    <label class="col-md-12 col-form-label texto-pregunta text-left">Unidad Medida</label>
                                    @Html.DropDownListFor(x => x.UnidadList, Model.UnidadList, new { @class = "form-control" })
                                    <span asp-validation-for="UnidadList" class="text-danger"></span>

                                </div>*@
                            <div class="col-md-4">
                                <label class="col-md-12 col-form-label texto-pregunta text-left">Meta</label>

                                <input asp-for="ValorMeta" type="text" name="ValorMeta" class="form-control" />
                                <span asp-validation-for="ValorMeta" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label class="col-md-12 col-form-label texto-pregunta text-left">Logro Entregable</label>

                                <input asp-for="EntregableMeta" type="text" name="EntregableMeta" class="form-control" />
                                <span asp-validation-for="EntregableMeta" class="text-danger"></span>
                            </div>
                            <div class="col-md-2" style="padding-top: 25px;">
                                <button type="button" class="btn bg-success" onclick="AgregaConcepto(); return false;"> <i class="fa fa-plus-square"></i> Agregar</button>
                            </div>
                        </div>

                    </div>
                </div>

                <br />
                <div id="divMetas">
                    <table id="metasTable" class="table table-striped" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                @*<th>Id</th>*@
                                <th>Meses</th>
                                @*<th>Medida/Unidad</th>*@
                                <th>Meta Trimestral</th>
                                <th>Entregable</th>
                                <th class="text-right">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.MetaTacticas != null)
                            {

                                @foreach (var metaanual in Model.MetaTacticas)
                                {
                                    <tr id="@metaanual.Id" class="rowdata">
                                        @*<td>

                                                @colaborador.Id
                                            </td>*@
                                        <td class="mes">

                                            @metaanual.NumMeses

                                        </td>
                                        @*<td>

                                                @{
                                                    var selectedCity = Model.UnidadList;
                                                    string txt = selectedCity.Where(x => x.Value == metaanual.TipoMedida.ToString()).FirstOrDefault().Text;
                                                }
                                                @txt
                                            </td>*@
                                        <td class="meta">
                                            @metaanual.Valor.ToString().Replace(",", ".")
                                        </td>
                                        <td>
                                            @metaanual.Entregable
                                        </td>

                                        <td class="text-right">
                                            <button type="button" onclick="EliminaFila(@metaanual.Id)" class="btn btn-danger btn-xp"><i class="fas fa-trash-alt"></i></button>

                                        </td>

                                    </tr>
                                }}


                        </tbody>
                    </table>


                </div>


            </div>
        </div>

        <br />
        <div class="form-group justify-content-between" style="margin-bottom: 0px !important">
            <button type="submit" class="btn btn-success">Guardar</button>
            <button type="submit" class="btn btn-default close-button" data-dismiss="modal">Cancelar</button>
        </div>
    </form>



    <script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
    $(function () {
        $(".datepicker").datepicker({ dateFormat: 'dd-mm-yy' });
        //$("#VigDesde").datepicker({ dateFormat: 'dd-mm-yy' });
        //$("#VigHasta").datepicker({ dateFormat: 'dd-mm-yy' });

    });

    $("#BrandId").select2({
        placeholder: "Select a Category",
        theme: "bootstrap4",
        escapeMarkup: function (m) {
            return m;
        }
    });

    function duplicadosMeta(af_in) {

        const tableRows = document.querySelectorAll('#metasTable tr.rowdata');


        // Recorremos las filas que tengan el class="row"
        // así obviamos la cabecera
        for (let i = 0; i < tableRows.length; i++) {
            const row = tableRows[i];
            const status = row.querySelector('.mes');

            if (af_in == status.innerText) {
                alert("Ya existe el trimestre " + af_in);
                return true;
            }
            // Para modificar un estado:
            // status.innerText = 'offline';
        }
        return false;

    }


    function sumar() {
     
        const tableRows = document.querySelectorAll('#metasTable tr.rowdata');
        var sum = 0;
        // Recorremos las filas que tengan el class="row"
        // así obviamos la cabecera
        for (let i = 0; i < tableRows.length; i++) {

            const row = tableRows[i];
            const status = row.querySelector('.meta');

            sum = sum + parseFloat(status.innerText);
            // Para modificar un estado:
            // status.innerText = 'offline';
        }

        document.getElementById("Meta").value = String(sum).replace('.', ',') ;
    }


       var num = 0;
        function AgregaConcepto() {
            let NumMeses = document.getElementById("NumMesesList").value;
           /* let UnidadList = document.getElementById("UnidadList").value;*/
            var selection = document.getElementById("UnidadMedida");
            let Unidad = selection.options[selection.selectedIndex].innerHTML;
            let ValorMeta = document.getElementById("ValorMeta").value.replace(',', '.');
            let EntregableMeta = document.getElementById("EntregableMeta").value;
           // let IdEstrategia = document.getElementById("Id").value;

            if (duplicadosMeta(NumMeses)) { return; }

            if (NumMeses.length == 0) {
                alert("Ingrese los meses.");
                return;
            }
            if (ValorMeta.length == 0) {
                alert("Ingrese la meta.");
                return;
            }
            if (EntregableMeta.length == 0) {
                alert("Ingrese el entregable.");
                return;
            }

            //agregamos tabla
            let Tabla = document.getElementById("metasTable");
            let TR = document.createElement("tr");
            TR.setAttribute('id', num);
            TR.className = "rowdata";
            let TDNumMeses = document.createElement("td");
            //let TDUnidad = document.createElement("td");
            let TDValorMeta = document.createElement("td");
            let TDEntregableMeta = document.createElement("td");
            let TDEliminar = document.createElement("td");
            TDEliminar.className = "text-right";
            TDValorMeta.className = "meta";
            TDNumMeses.className = "mes";
            //let TDTotal = document.createElement("td");
           // TR.appendChild(TDId);
            TR.appendChild(TDNumMeses);
           /* TR.appendChild(TDUnidad);*/
            TR.appendChild(TDValorMeta);
            TR.appendChild(TDEntregableMeta);
            TR.appendChild(TDEliminar);
            //TR.appendChild(TDTotal);
           // TDId.innerHTML = num;
            TDNumMeses.innerHTML = NumMeses;
           /* TDUnidad.innerHTML = Unidad;*/
            TDValorMeta.innerHTML = ValorMeta +" "+ Unidad;
            TDEntregableMeta.innerHTML = EntregableMeta;
            TDEliminar.innerHTML = " <button type='button' onclick='EliminaFila("+num+")' class='btn btn-danger btn-xp'><i class='fas fa-trash-alt'></i></button>";
            //TDTotal.innerHTML = parseFloat(Cantidad) * parseFloat(Precio);
            Tabla.appendChild(TR);


            //agregamos hiddens
            let DivConceptos = document.getElementById("divMetas");
            let HiddenIndex = document.createElement("input");
            let HiddenNumMeses = document.createElement("input");
            let HiddenUnidad = document.createElement("input");
            let HiddenValorMeta = document.createElement("input");
            let HiddenEntregableMeta = document.createElement("input");
            HiddenIndex.name = "MetaTacticas.Index";
            HiddenIndex.value = num;
            HiddenIndex.type = "hidden";
            HiddenNumMeses.name = "MetaTacticas[" + num + "].NumMeses";
            HiddenNumMeses.value = NumMeses;
            HiddenNumMeses.type = "hidden";
            HiddenUnidad.name = "MetaTacticas[" + num + "].TipoMedida";
            HiddenUnidad.value = 0;
            HiddenUnidad.type = "hidden";
            HiddenValorMeta.name = "MetaTacticas[" + num + "].Valor";
            HiddenValorMeta.value = ValorMeta.replace('.', ',');
            HiddenValorMeta.type = "hidden";

            HiddenEntregableMeta.name = "MetaTacticas[" + num + "].Entregable";
            HiddenEntregableMeta.value = EntregableMeta;
            HiddenEntregableMeta.type = "hidden";

            DivConceptos.appendChild(HiddenIndex);
            DivConceptos.appendChild(HiddenNumMeses);
            DivConceptos.appendChild(HiddenUnidad);
            DivConceptos.appendChild(HiddenValorMeta);
            DivConceptos.appendChild(HiddenEntregableMeta);

            document.getElementById("NumMesesList").value = "";
            //document.getElementById("UnidadList").value = "";
            document.getElementById("ValorMeta").value = "";
            document.getElementById("EntregableMeta").value = "";

            num++;

            sumar();

            //var GestionViewModel = {
            //    Anio: Nombre,
            //    Descripcion: Hablado,
            //    Estado: Escrito,
            //    IdEstrategia: IdEstrategia

            //};

        @*$.ajax({
            type: "post",
            url:'@Url.Action("OnPostCreateOrEdit", "Idioma", new { area = "Registro" })',
            data: GestionViewModel,
            datatype: "json",
            cache: false,
            success: function (data) {
            /* alert('Validooo');*/

            },
            error: function(xhr) {
            //    alert('No Valid Data');
            }
        });*@

        }

    function deleteRow(id) {
        $("#" + id).remove();
    }

    function EliminaFila(id) {

        $("#" + id).remove();

        var GestionViewModel = {
            id: id
        };

         $.ajax({
            type: "post",
            url:'@Url.Action("OnPostDeleteTactica", "Meta", new { area = "Planificacion" })',
             data: GestionViewModel,
            datatype: "json",
            cache: false,
            success: function (data) {
            /*  alert('Validooo');*/

            },
            error: function(xhr) {
               // alert('No Valid Data');
            }
        });
    }

    </script>
