@model WordVision.ec.Web.Areas.Maestro.Models.LogFrameIndicadorPRViewModel
<div class="row">
    <div class="col-md-12">
        <form asp-action="OnPostCreateOrEdit" method="post" asp-controller="LogFrameIndicadorPR" asp-action="OnPostCreateOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryModalPost(this);" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input hidden="hidden" asp-for="Id"/>
            <div class="form-group grupoSeleccion">
                <label asp-for="IdLogFrame" class="control-label">Log Frame</label>
                @Html.DropDownList("IdLogFrame", (IEnumerable<SelectListItem>)Model.LogFrameList, htmlAttributes: new { @class = "form-control seleccionBusqueda", @style = "width:100%;" })
                <span asp-validation-for="IdLogFrame" class="text-danger"></span>
            </div>
            <div class="form-group grupoSeleccion">
                <label asp-for="IdIndicadorPR" class="control-label">Indicador</label>
                @Html.DropDownList("IdIndicadorPR", (IEnumerable<SelectListItem>)Model.IndicadorPRList, htmlAttributes: new { @class = "form-control seleccionBusqueda", @style = "width:100%;" })
                <span asp-validation-for="IdIndicadorPR" class="text-danger"></span>
            </div>
            @*<div class="overflow-auto" style="max-height:500px" id="containerIndicadores">
                <ul class="list-group" role="group" aria-labelledby="SeletDistributionListLabel">
                    <p><label class="control-label">Indicadores</label></p>
                    @for (var i = 0; i < Model.LogFrameIndicadores.Count; i++)
                    {
                        <li class="list-group-item">
                            <input type="checkbox" asp-for="@Model.LogFrameIndicadores[i].Selected"  />
                            <label asp-for="@Model.LogFrameIndicadores[i].Selected">
                                @Model.LogFrameIndicadores[i].CodigoIndicador -
                                @Model.LogFrameIndicadores[i].DescripcionIndicador
                                </label>
                            <input type="hidden" asp-for="@Model.LogFrameIndicadores[i].CodigoIndicador" />
                            <input type="hidden" asp-for="@Model.LogFrameIndicadores[i].IdIndicadorPR" />
                            <input type="hidden" asp-for="@Model.LogFrameIndicadores[i].IdLogFrame" />
                            <input type="hidden" asp-for="@Model.LogFrameIndicadores[i].DescripcionIndicador" />   

                        </li>
                    }
                </ul>
            </div>*@
            @*@if (Model.Id != 0)
            {
                <div class="form-group">
                    <label asp-for="IdEstado" class="control-label">Estado</label>
                    @Html.DropDownList("IdEstado", (IEnumerable<SelectListItem>)Model.EstadoList, htmlAttributes: new { @class = "form-control ", @style = "width:100%;" })
                    <span asp-validation-for="IdEstado" class="text-danger"></span>
                </div>
            }*@
            <br />
            <div class="form-group justify-content-between group-button-modal">
                <button type="submit" class="btn btn-success">Guardar</button>
                <button type="button" class="btn btn-default close-button" data-dismiss="modal">Cancelar</button>
            </div>
        </form>
    </div>
</div>

<script>
    $('.seleccionBusqueda').select2();
</script>
