@using WordVision.ec.Web.Areas.Planificacion.Models
@model IEnumerable<AcuerdoViewModel>


<table id="productoTable" class="table table-striped " width="100%" cellspacing="0">
            <thead>
                <tr>


                    <th data-priority="1">Tipo</th>
                    <th data-priority="1">Categoría</th>
                    <th data-priority="1">Descripción</th>
                    <th data-priority="1">Contribución al objetivo estratégico</th>
                    <th data-priority="1">Meta Anuales/Gestiones</th>


                </tr>
            </thead>
            <tbody>
               
                @foreach (var producto in Model)
                {
                <tr>

                    <td>
                        @producto.DescTipo
                    </td>
                    <td>
                        @producto.CategoriaObjetivo
                    </td>
                    <td>
                        @producto.Descripcion
                    </td>
                    <td>
                        @producto.Contribucion
                    </td>
                    <td>
                        @producto.Meta
                    </td>



                </tr>
                }
                
            </tbody>
        </table>
<div class="row">
    <div class="col-md-12">
      
        <div class="form-group row">
            <div class="col-md-12">
                <label class="col-md-12 col-form-label texto-pregunta">Competencia</label>

                <select name="Competencia" class="form-control">
                    @if (User.Claims.FirstOrDefault(x => x.Type == "Nivel")?.Value.ToString() == "1" || User.Claims.FirstOrDefault(x => x.Type == "Nivel")?.Value.ToString() == "2" || User.Claims.FirstOrDefault(x => x.Type == "Nivel")?.Value.ToString() == "3")
                    {
                        <option value="1">Presto atención a mi propio bienestar y resilencia. Me mantengo enfocado y recursivo a través de la complejidad, ambigüedad y disrupción, y lidero de forma que otros hagan lo mismo. Creo un ambiente donde el personal se sienta seguro, es reciliente, tenga confianza, y relaciones auténticas</option>
                        <option value="2">Practico la mayordomía sabia con aquellos a los cuales influencio y lidero.  Busco el crecimiento y multiplicar el impacto de los individuos, grupos y redes. A través de decir la verdad oportunamente y con amor, cultivo un ambiente de soporte donde podemos encarar los desafíos dando lo mejor.</option>
                        <option value="3">Involucrar, Influir, Liderar y ayudar el crecimiento de otros Filipenses 2:3-4Lidero con el ejemplo  el enfoque y alcance de los asuntos más importantes. Creo unidad y confianza haciendo mi parte y permitiendo a los otros ser responsables, así entregaremos resultados de una manera ágil y acorde a lo requerido</option>
                        <option value="4">Consistentemente busco afuera, y aprendo y respondo con innovación para transformar la organización para el futuro. Propicio  un ambiente donde las pesonas están empoderadas para descubrir nuevas y mejores formas de hacer las cosas</option>
                    }
                    <option value="1">
                        Me ocupo de mi bienestar personal y apoyo a otros para que hagan lo mismo.
                    </option>
                    <option value="2">
                        Trato a otros con empatía y respeto para que crezca la confianza y podamos decirnos la verdad con amor..
                    </option>
                    <option value="3">
                        Trato a otros con empatía y respeto para que crezca la confianza y podamos decirnos la verdad con amor..
                    </option>
                    <option value="4">
                        Participo e influyo en redes de
                        personas más allá de mi función para marcar una diferencia mayor a lo que podríamos hacer solos..
                    </option>
                    <option value="4">
                        Me concentro y ayudo a lograr las
                        cosas que más importan, con clara
                        evidencia de mi contribución..
                    </option>
                    <option value="4">
                        Ejerzo una mayordomía sabia, al
                        demostrar buen juicio e integridad
                        en las decisiones que tomo y las
                        elecciones que hago..
                    </option>
                    <option value="4">
                        Busco y descubro nuevas y
                        mejores maneras de hacer las
                        cosas, resolver problemas y
                        convertir las ideas en acción..
                    </option>
                    <option value="4">Abordo el cambio y las oportunidades que este ofrece con apertura y valor, y aliento a otros a hacer lo mismo.</option>
                </select>

            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <label class="col-md-12 col-form-label texto-pregunta">Comportamiento</label>

                <select  name="Comportamiento" class="form-control">
                    <option value="1">Vivo mi fe cristiana al liderar con humildad, siendo valiente en acción y comunicándome con honestidad y respeto.</option>
                    <option value="2">Activamente busco retroalimentación abierta y sincera para discernir y actuar bajo la verdad</option>
                    <option value="3">Hábilmente manejo las múltiples demandas y establezco prioridades para alcanzar los resultados importantes</option>
                    <option value="4">Adapto el comportamiento y estilo para interactuar y asociarme efectivamente con otros, incluyendo aquellos con diferentes culturas, fe y tradiciones cristianas</option>
                    <option value="5">Modelo estrategias de afrontamiento efectiva para asegurar y sostener mi propio bienestar</option>
                    <option value="6">Encaro con confianza la incertidumbre e inteligentemente busco otros caminos cuando el cambio así lo requiere</option>
                </select>
               
            </div>
        </div>
       


    </div>
</div>
<script>

    $(document).ready(function () {
        var table = $("#productoTable").DataTable({
            aoColumnDefs: [
                { "aTargets": [0], "bSortable": true },
                { "aTargets": [2], "asSorting": ["asc"], "bSortable": true },
            ],
            "language": {
                "url": "/lib/datatables/language/Spanish.json"
            }
        });

      

     

    });
</script>
