@using WordVision.ec.Web.Areas.Planificacion.Models
@model IEnumerable<TechoPresupuestarioViewModel>


<table id="productoTablep" class="table table-striped " width="100%" cellspacing="0">
            <thead>
                <tr>

                    <th data-priority="1">Id</th>
                    <th data-priority="1">Codigo</th>
                    <th data-priority="1">Descripción</th>
                    <th data-priority="1">Techos</th>
                    <th data-priority="2" class="acciones-th">Acciones</th>

                </tr>
            </thead>
            <tbody>
               
                @foreach (var producto in Model)
                {
                <tr>
                    <td>
                        @producto.Id
                    </td>
                    <td>
                        @producto.CodigoCC
                    </td>
                    <td>
                        @producto.DescripcionCC
                    </td>
                    <td>
                        @producto.Techo
                    </td>

                    <td class="acciones-td">

                        <button type="button" onclick="EliminaFila(@producto.Id)" class="btn btn-danger btn-xp"><i class="fas fa-trash-alt"></i> </button>

                    </td>


                </tr>
                }
                
            </tbody>
        </table>

<script>
    function EliminaFila(id) {

        $("#" + id).remove();

        var GestionViewModel = {
            id: id
        };

         $.ajax({
            type: "post",
            url:'@Url.Action("OnPostDelete", "TechoPresupuestario", new { area = "Planificacion" })',
             data: GestionViewModel,
            datatype: "json",
            cache: false,
            success: function (data) {
            /*  alert('Validooo');*/

            },
            error: function(xhr) {
               // alert('No Valid Data');
            }
        });
    }
    $(document).ready(function () {
        var table = $("#productoTablep").DataTable({
            aoColumnDefs: [
                { "aTargets": [0], "bSortable": true },
                { "aTargets": [2], "asSorting": ["asc"], "bSortable": true },
            ],
            "language": {
                "url": "/lib/datatables/language/Spanish.json"
            },
            "info": false
        });

        var column = table.column(0);
        // Toggle the visibility
        column.visible(false);



        $('#productoTablep tbody').on('dblclick', 'tr', function () {
            var data = table.row(this).data();


            jQueryModalGet('/Planificacion/TechoPresupuestario/OnGetCreateOrEdit?id=' + data[0], 'Techo Presupuestario');

        });

        $(".dynmic-hidden-col").hide();
    });
</script>
