@page
@using WordVision.ec.Web.Areas.Valoracion.Pages.Objetivo.Wizard
@model IndexModel
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
@{ @*ViewData["Title"] = "New";*@ var currentStep = Model.Steps[Model.CurrentStepIndex];
var viewName = currentStep.ToString().Substring(currentStep.ToString().LastIndexOf('.') + 1); }

<div class="row">
    <div class="col-md-12">
        <label class="col-md-12 col-form-label texto-pregunta" style="color:#666666">Para mantener Nuestra Promesa</label>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <label class="col-md-12 col-form-label texto-pregunta" style="color:#EC7D31">Establecer 3-5 objetivos de Desempeño para este año - CLARIDAD</label>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <label class="col-md-12 col-form-label texto-pregunta">Incluya tanto el QUÉ <font style="color:#2ED4E0">(Resultado)</font> como el CÓMO <font style="color:#2ED4E0">(mentalidades y comportamientos)</font> se lograrán los objetivos.
            Utiliza los hitos para considerar cómo vas a hacer un seguimiento del progreso a lo largo del año, al menos trimestralmente*.</label>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <label class="col-md-12 col-form-label texto-pregunta"> <b>
            Utiliza los hitos para considerar cómo vas a hacer un seguimiento del progreso a lo largo del año, al menos trimestralmente*.</b></label>
    </div>
</div>
<br />
<section>


    <div class="wizard">

        @*@using (Html.BeginForm(new { @id = "formId", enctype = "multipart/form-data" }))
            {*@
        <form id="formId" method="post" enctype="multipart/form-data">

            @Html.Hidden("StepType", Model.Steps[Model.CurrentStepIndex].GetType())



            <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" class="stepactive1 @(currentStep.Position==0 ? " active" : " disabled")">

                        @*<a onclick="document.forms[0].submit();return false;" asp-page-handler="Step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">*@
                        <button type="submit" value="1" name="Step1" asp-page-handler="StepLink" asp-route-idStep="0" class="btnwizard btn-redondo stepactive1 @(currentStep.Position==0 ? " btn-active" : " btn-disabled")" data-title="Objetivo Uno">1</button>
                        @*<span class="round-tab">
                                1
                            </span>*@ @*</a>*@
                        </li>
                        <li role="presentation" class="stepactive2 @(currentStep.Position==1 ? " active" : " disabled")">
                            <button type="submit" value="2" name="Step2" asp-page-handler="StepLink" asp-route-idStep="1" class="btnwizard btn-redondo stepactive2 @(currentStep.Position==1 ? " btn-active" : " btn-disabled")" data-title="Objetivo Dos">2</button>
                        </li>
                       <li role="presentation" class="stepactive3 @(currentStep.Position==2 ? " active":" disabled")">
                            <button type="submit" value="3" name="Step3" asp-page-handler="StepLink" asp-route-idStep="2" class="btnwizard btn-redondo stepactive3 @(currentStep.Position==2 ? " btn-active" : " btn-disabled")" data-title="Objetivo Tres">3</button>
                        </li>
                         <li role="presentation" class="stepactive4 @(currentStep.Position==3 ? " active":" disabled")">
                            <button type="submit" value="4" name="Step4" asp-page-handler="StepLink" asp-route-idStep="3" class="btnwizard btn-redondo stepactive4 @(currentStep.Position==3 ? " btn-active" : " btn-disabled")" data-title="Objetivo Cuatro">4</button>
                        </li>
                       <li role="presentation" class="stepactive5 @(currentStep.Position==4 ? " active":" disabled")">
                            <button type="submit" value="5" name="Step5" asp-page-handler="StepLink" asp-route-idStep="4" class="btnwizard btn-redondo stepactive5 @(currentStep.Position==4 ? " btn-active" : " btn-disabled")" data-title="Objetivo Cinco">5</button>
                        </li>
                         <li role="presentation" class="stepactive6 @(currentStep.Position==5 ? " active":" disabled")">
                            <button type="submit" value="6" name="Step6" asp-page-handler="StepLink" asp-route-idStep="5" class="btnwizard btn-redondo stepactive6 @(currentStep.Position==5 ? " btn-active" : " btn-disabled")" data-title="Objetivo Seis">6</button>
                        </li>
                        <li role="presentation" class="stepactive7 @(currentStep.Position==6 ? " active":" disabled")">


                            <button type="submit" data-title="Objetivo Siete" name="Step7" asp-page-handler="StepLink" asp-route-idStep="6" class="btnwizard btn-redondo stepactive7 @(currentStep.Position==6 ? " btn-active" : " btn-disabled")">7</button>
                          
                        </li>
                    </ul>
                </div>
                <br />
                <div class="card card-info">
                    <div class="card-header card-header-int">
                       @* <div class="row">
                            <div class="col-md-12">
                                <label class="col-md-12 col-form-label texto-pregunta" style="color:#666666">Para mantener Nuestra Promesa</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="col-md-12 col-form-label texto-pregunta" style="color:#EC7D31">Establecer 3-5 objetivos de Desempeño para este año - CLARIDAD</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="col-md-12 col-form-label texto-pregunta">Incluya tanto el QUÉ <font style="color:#2ED4E0">(Resultado)</font> como el CÓMO <font style="color:#2ED4E0">(mentalidades y comportamientos)</font> se lograrán los objetivos. Utiliza los hitos para considerar cómo vas a hacer un seguimiento del progreso a lo largo del año, al menos trimestralmente*.</label>
                            </div>
                        </div>*@
                    </div>
                    <div class="card-body">

                        @Html.HiddenFor(m => m.CurrentStepIndex, Model.CurrentStepIndex)

                        @await Html.PartialAsync(viewName, currentStep)
                        @if (Model.CurrentStepIndex > 0)
                        {
            <input type="submit" value="Anterior" name="prev" asp-page-handler="Previous" class="btn btn-secondary" />}

                        @if (Model.CurrentStepIndex < (Model.Steps.Count - 1))
                        {
            <input type="submit" value="Siguiente" name="next" asp-page-handler="Next" class="btn btn-primary" />
                            @*<input type="submit" value="Guardar & Cerrar" name="save" asp-page-handler="Finish" class="btn btn-primary float-right" />*@ }
                        else
                        {
            <input type="submit" value="Finalizar" name="finish" asp-page-handler="Finish" class="btn btn-primary" />}
                    </div>
                </div>
            </form>
            @*}*@

        </div>
    </section>

    @*@await Component.InvokeAsync("Notyf")*@