@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using WordVision.ec.Web.Areas.Planificacion.Models
@model ActividadViewModel

<div id="header" class="row titulopopup">
    <div class="col-6">
        <h6 class="h5 mb-2 text-gray-800-b">Objetivo: </h6>@Model.DescObjetivo
    </div>
    <div class="col-6" style="text-align: right;">
        <h6 class="h5 mb-2 text-gray-800-b">Factor: </h6>@Model.DescFactor
    </div>

</div>

<div id="header" class="row titulopopup">
    <div class="col-6">
        <h6 class="h5 mb-2 text-gray-800-b">Indicador: </h6>@Model.DescIndicador
    </div>

    <div class="col-3" style="text-align: right;">
        <h6 class="h5 mb-2 text-gray-800-b">Línea Base: </h6>@Model.DescLineaBase
    </div>
    <div class="col-3" style="text-align: right;">
        <h6 class="h5 mb-2 text-gray-800-b">Meta  @Model.DescGestion: </h6>@Model.DescMeta @Model.DescUnidad
    </div>

</div>

<div id="header" class="row titulopopup">
    <div class="col-6">
        <h6 class="h5 mb-2 text-gray-800-b">Producto: </h6>@Model.DescProducto
    </div>
    <div class="col-6" style="text-align: right;">
        <h6 class="h5 mb-2 text-gray-800-b">Responsable: </h6>@Model.ResponsableIndicador
    </div>

</div>
<div id="header" class="row titulopopup">
    <div class="col-6">
        <h6 class="h5 mb-2 text-gray-800-b">Indicador Producto: </h6>@Model.IndicadorProducto
    </div>
    <div class="col-6" style="text-align: right;">
        <h6 class="h5 mb-2 text-gray-800-b">Responsable: </h6>@Model.DescResponsable
    </div>

</div>
<hr />

<form id="create-form" method="post" asp-controller="Actividad" asp-action="OnPostCreateOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryModalPost(this);" enctype="multipart/form-data">
    @Html.HiddenFor(x => x.IdProducto)
    @Html.HiddenFor(x => x.IdIndicadorPOA)
    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <div class="col-md-12">
                    <label class="col-md-12 col-form-label texto-pregunta">Actividad</label>

                    <textarea asp-for="DescripcionActividad" name="DescripcionActividad" class="form-control"></textarea>
                    <span asp-validation-for="DescripcionActividad" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <label class="col-md-12 col-form-label texto-pregunta">Entregable</label>

                    <textarea asp-for="Entregable" name="Entregable" class="form-control"></textarea>
                    <span asp-validation-for="Entregable" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-5">
                    <label class="col-md-12 col-form-label texto-pregunta">Responsable</label>
                    @Html.DropDownListFor(x => x.IdCargoResponsable, (IEnumerable<SelectListItem>)Model.responsableList, new { @class = "form-control" })

                    <span asp-validation-for="IdCargoResponsable" class="text-danger"></span>
                </div>

                <div class="col-md-2">
                    <label class="col-md-12 col-form-label texto-pregunta text-left">Ponderación</label>
                    <input asp-for="Ponderacion" type="text" name="Ponderacion" class="form-control" />
                    <span asp-validation-for="Ponderacion" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label class="col-md-12 col-form-label texto-pregunta text-left">Fecha Inicio</label>
                    <input asp-for="FechaInicio" type="text" name="FechaInicio" class="datepicker form-control" />
                    <span asp-validation-for="FechaInicio" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label class="col-md-12 col-form-label texto-pregunta text-left">Fecha Fín</label>
                    <input asp-for="FechaFin" type="text" name="FechaFin" class="datepicker form-control" />
                    <span asp-validation-for="FechaFin" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label class="col-md-12 col-form-label texto-pregunta text-left">Techo presupuestario</label>
                    <input asp-for="TechoPresupuestoCC" type="text" name="TechoPresupuestoCC" class="form-control" />
                    <span asp-validation-for="TechoPresupuestoCC" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label class="col-md-12 col-form-label texto-pregunta text-left">Total recurso</label>
                    <input asp-for="TotalRecurso" type="text" name="TotalRecurso" class="form-control" />
                    <span asp-validation-for="TotalRecurso" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label class="col-md-12 col-form-label texto-pregunta text-left">Saldo</label>
                    <input asp-for="Saldo" type="text" name="Saldo" class="form-control" />
                    <span asp-validation-for="Saldo" class="text-danger"></span>
                </div>
            </div>


        </div>
    </div>

    <br />
    <div class="form-group justify-content-between" style="margin-bottom: 0px !important">
        <button type="submit" class="btn btn-success">Guardar</button>
        <button type="submit" class="btn btn-default close-button" data-dismiss="modal">Cancelar</button>
    </div>
</form>

<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
    $(function () {
        $(".datepicker").datepicker({ dateFormat: 'dd-mm-yy' });
        
    });

</script>
