@model IEnumerable<WordVision.ec.Web.Areas.Encuesta.Models.EProgramaIndicadorViewModel>

<table id="EProgramaIndicadorTable" class="table table-striped" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                Indicador
            </th>
            <th>
                Programa
            </th>
            <th>
                Población
            </th>
            <th data-priority="2" class="acciones-th">Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                (@Html.DisplayFor(modelItem => item.EIndicador.Id)) @Html.DisplayFor(modelItem => item.EIndicador.ind_Nombre)
            </td>
            <td>
                (@Html.DisplayFor(modelItem => item.EPrograma.Id)) @Html.DisplayFor(modelItem => item.EPrograma.pa_nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pi_Poblacion)
            </td>
            <td class="acciones-td">
                <button type="button" class="btn btn-success  btn-xp" data-toggle="tooltip" data-placement="top" title="Editar"   id="btnEditViewModel"   onclick="jQueryModalGet('/Encuesta/EProgramaIndicador/OnGetCreateOrEdit?id=@item.Id','Editar')">
                   <i class="fas fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger btn-xp"   data-toggle="tooltip" data-placement="top" title="Eliminar" id="btnDeleteViewModel" onclick='EliminarRegistro("@item.Id")' >
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $("#EProgramaIndicadorTable").DataTable();
    });

    function EliminarRegistro(id) 
    {
        if (confirm('Favor confirmar si desea ELIMINAR este registro y todos sus datos relacionados. ¿Acepta que desea eliminar?')) 
        {
            $("#" + id).remove();

            var parametros = {
                Id: id,
            };

            $.ajax({
                type: "post",
                url: '@Url.Action("OnPostDelete", "EProgramaIndicador", new { area = "Encuesta" })',
                data: parametros,
                datatype: "json",
                cache: false,
                success: function(data) {
                    window.location.href = "/Encuesta/EProgramaIndicador";
                      //alert('Validooo');

                },
                error: function(xhr) {
                    return false;
                    // alert('No Valid Data');
                }
            });
        }
    }
      


</script>
