@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using WordVision.ec.Web.Areas.Planificacion.Models
@model EstrategiaNacionalViewModel
@{ ViewData["Title"] = localizer["Ciclo Estratégico"].Value + " " + ViewBag.Ciclo;


    if ((AuthorizationService.AuthorizeAsync(User, Permissions.Gestion.View)).Result.Succeeded)
    {
        ViewData["Caption"] = localizer["Gestionar Ciclo Estratégico aquí"];
    }
    else
    {
        ViewData["TmpGestion"] = localizer["Está en la Gestión:"].Value;
        ViewData["Gestion"] = ViewBag.Gestion;
    }

}
<div class="card card-info">

    <div class="card-header card-header-int">
        Objetivos Nacionales
    </div>

    <div class="col-sm-12" style="padding:10px">

                        
<table id="TableObjetivos" class="table table-bordered " width="100%" cellspacing="0">
    <thead>
        <tr>
                <th style=" width:30%" class="gerencia-th">Objetivo</th>
                <th style=" width:30%" class="gerencia-th">Factor Crítico de Éxito</th>
                <th style=" width:20%" class="gerencia-th">Indicador de Resultado</th>
                 <th style=" width:10%" class="gerencia-th">Metas @ViewBag.DescGestion</th>

                @if (User.Claims.FirstOrDefault(x => x.Type == "Nivel")?.Value.ToString() == "2")
                {
                    <th class="acciones-th">Metas Trimestrales</th>

                }
                <th class="acciones-th" style="width:10% !important">Seguimiento</th>
                 <th class="acciones-th" style="width:30% !important">Acciones</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var planificacion in Model.ObjetivoEstrategicos.SelectMany(c=>c.FactorCriticoExitos).SelectMany(i=>i.IndicadorEstrategicos))
        {

            <tr >
                 <td>
                    @planificacion.FactorCriticoExitos.ObjetivoEstrategicos.Descripcion
                </td>
                 <td>
                    @planificacion.FactorCriticoExitos.FactorCritico
                </td>
                 <td>
                    @planificacion.IndicadorResultado
                </td>
              
                 <td>@planificacion.IndicadorAFs.Where(x => x.Anio == Convert.ToString(@Model.AnioGestion)).FirstOrDefault()?.Meta</td>
                @if (User.Claims.FirstOrDefault(x => x.Type == "Nivel")?.Value.ToString() == "2")
                {
                    <td class="acciones-td">
                        <button type="button" class="btn btn-success  btn-xp" title="Ver" id="btnViewModel1" onclick="jQueryModalGet('/Planificacion/Meta/LoadGestiones?id=@planificacion.Id','Metas Trimestrales Indicadores de Resultados')">
                            <i class="fas fa-eye"></i>
                        </button>

                        <button type="button" class="btn btn-primary  btn-xp" title="Agregar" id="btnViewModel" onclick="jQueryModalGet('/Planificacion/Meta/OnGetCreateOrEdit?id=@planificacion.Id&IdFactorCritico=@planificacion.FactorCriticoExitos.Id&IdEstrategia=0&idGestion=@Model.AnioGestion','Metas Trimestrales Indicadores de Resultados')">
                            <i class="fas fa-plus-square"></i>
                        </button>
                    </td>
                }

                 <td>
                    <button type="button" class="btn btn-success  btn-xp" title="Ver Seguimiento" id="btnViewModel1" onclick="jQueryModalGet('/Planificacion/Seguimiento/LoadSeguimiento?idIndicadorEstrategico=@planificacion.Id&tipo=IE','Segumiento Indicadores de Resultados')">
                        <i class="fas fa-eye"></i>
                    </button>
                    <button type="button" class="btn btn-primary  btn-xp" title="Agregar Seguimiento" id="btnViewModel" onclick="jQueryModalGet('/Planificacion/Seguimiento/OnGetCreateOrEdit?id=0&IdFactorCritico=@planificacion.FactorCriticoExitos.Id&IdIndicador=@planificacion.Id&idGestion=@Model.AnioGestion&tipo=IE','Segumiento Indicadores de Resultados')">
                        <i class="fas fa-plus-square"></i>
                    </button>
                </td>

                 <td class="acciones-td">
                               @if (Model.AnioGestion != "0" && Model.AnioGestion != null)
                                    {
                                        <a asp-area="planificacion" asp-controller="IndicadorEstrategico" asp-action="GetByIdIndicadores"  asp-route-id="@planificacion.Id" asp-route-idObjetivoEstrategico="@planificacion.FactorCriticoExitos.IdObjetivoEstra" asp-route-idEstrategia="@planificacion.FactorCriticoExitos.ObjetivoEstrategicos.IdEstrategia" asp-route-AnioGestion="@Model.AnioGestion" asp-route-Categoria="1" class="btn btn-info btn-xp" title="Administrar Factores Criticos del Exito"><i class="fas fa-calendar"></i></a>

                                    }
                              
                 </td>
            </tr>
        }

    </tbody>
    
</table>                
@*
                                        <div id="viewAllNacional" class="card-body table-responsive" style="padding: 0;">
                                        </div>*@
                                      
                               
                            </div>

                    </div>
              

<script type="text/javascript" language=javascript>

    $(document).ready(function () {
        loadData();
    });
        function loadData() {
          //  $('#viewAllNacional').load('/Planificacion/ObjetivoEstrategico/LoadObjetivo?idEstrategia=@Model.Id&idCategoria=1&AnioGestion=@Model.AnioGestion&esCoordinadorEstrategico=@Model.EsCoordinadorEstrategico');
         }


 $(document).ready(function () {
        var table = $("#TableObjetivos").DataTable({
            aoColumnDefs: [
                { "aTargets": [0], "bSortable": true },
                { "aTargets": [2], "asSorting": ["asc"], "bSortable": true },
            ],
            "language": {
                "url": "../lib/datatables/language/Spanish.json"
            },
            "bFilter": false ,"length":false,
            "bLengthChange" : false,"bPaginate": false,
            responsive: true,
            columnDefs: [
                { responsivePriority: 1, targets: 0 },
                { responsivePriority: 2, targets: -1 }
            ],
            "info": false,
            'rowsGroup': [0,1,2],
        });



    });

</script>
