@using WordVision.ec.Web.Areas.Planificacion.Models
@model IndicadorEstrategicoViewModel

<table id="productoTable" class="table table-striped " width="100%" cellspacing="0">
    <thead>
        <tr>

            <th>Id</th>
            <th data-priority="1">Producto</th>
            <th data-priority="1">Responsable</th>
            <th data-priority="1">Indicadores</th>

            <th data-priority="2" class="acciones-th">Acciones</th>

        </tr>
    </thead>
    <tbody>
        @if (Model.Productos != null)
        {
@foreach (var producto in Model.Productos.Where(x => x.IdGestion == Model.IdGestion))
{
        <tr>
            <td>
                @producto.Id
            </td>
            <td>
                @producto.DescProducto
            </td>
            <td>
                @producto.IdCargoResponsable
            </td>

            <td class="acciones-td">
                @* <a  asp-area="planificacion" asp-controller="EstrategiaNacional" asp-action="OnGetCreateOrEdit" asp-route-id="@anioFiscal.Id" class="btn btn-info btn-xp"><i class="fas fa-pencil-alt"></i>  Editar</a>*@
                <button type="button" class="btn btn-success  btn-xp" data-toggle="tooltip" data-placement="top" title="Ver" btn-xp" id="btnViewModel" onclick="jQueryModalGet('/Planificacion/IndicadorPOA/LoadIndicadores?idProducto=@producto.Id&idGestion=@Model.IdGestion&idIndicadorEstrategia=@Model.Id','Indicador de Producto')">
                    <i class="fas fa-eye"></i>
                </button>

                <button type="button" class="btn btn-primary  btn-xp" title="Agregar" id="btnViewModel" onclick="jQueryModalGet('/Planificacion/IndicadorPOA/OnGetCreateOrEdit?id=0&idProducto=@producto.Id&idGestion=@Model.IdGestion&idIndicadorEstrategia=@Model.Id','Indicador de Producto')">
                    <i class="fas fa-plus-square"></i>
                </button>
            </td>

            <td class="acciones-td">
                @*<button type="button" class="btn btn-warning  btn-xp" title="Agregar" id="btnViewModel" onclick="jQueryModalGet('/Planificacion/Producto/OnGetCreateOrEdit?id=0&idGestion=@producto.IdGestion&idIndicadorEstra=@Model.Id','Producto')">
                <i class="fas fa-pencil-alt"></i>
            </button>*@
                <form id="form_delete_@producto.Id" asp-area="Planificacion" asp-controller="FactorCriticoExito" method="post" asp-action="OnPostDelete" asp-route-id="@producto.Id" onsubmit="return jQueryModalDelete(this)">
                    <a href="javascript:$('#form_delete_@producto.Id').submit();" class="btn btn-danger btn-xp"><i class="fas fa-trash-alt"></i> </a>
                </form>
                @* <a asp-area="planificacion" asp-controller="Producto" asp-action="OnGetCreateOrEdit" asp-route-id="@producto.Id" class="btn btn-warning btn-xp"><i class="fas fa-pencil-alt"></i></a>*@
            </td>


        </tr>                }}
    </tbody>
</table>

<script>

    $(document).ready(function () {
        var table = $("#productoTable").DataTable({
            aoColumnDefs: [
                { "aTargets": [0], "bSortable": true },
                { "aTargets": [2], "asSorting": ["asc"], "bSortable": true },
            ],
            "language": {
                "url": "/lib/datatables/language/Spanish.json"
            },

            responsive: true,
            columnDefs: [
                { responsivePriority: 1, targets: 0 },
                { responsivePriority: 2, targets: -1 }
            ],
            "info": false
            //columnDefs: [
            //    { responsivePriority: 1, targets: 0 },
            //    { responsivePriority: 10001, targets: 4 },
            //    { responsivePriority: 2, targets: -2 }
            //]
        });

        var column = table.column(0);
        // Toggle the visibility
        column.visible(false);



        $('#productoTable tbody').on('dblclick', 'tr', function () {
            var data = table.row(this).data();

            jQueryModalGet('/Planificacion/Producto/OnGetCreateOrEdit?id=' + data[0] + '&idGestion=@Model.IdGestion&idIndicadorEstra=@Model.Id', 'Producto');


        });

        $(".dynmic-hidden-col").hide();

    });
</script>
