@{ ViewData["Title"] = localizer["Producto"];
    ViewData["Caption"] = localizer["Gestionar Producto aquí"]; }
@using WordVision.ec.Web.Areas.Planificacion.Models
@using WordVision.ec.Web.Views.Shared.Components.Title;
@model IEnumerable<ProductoViewModel>
@(await Component.InvokeAsync<TitleViewComponent>())
<div class="card">
    <div class="col-md-12 header-button">

        @*<a asp-area="planificacion" asp-controller="Producto" asp-action="OnGetCreateOrEdit" class="btn bg-primary">
                <i class="fa fa-plus-square"></i> Agregar
            </a>*@
        <button type="button" class="btn btn-primary" title="Agregar" id="btnViewModel" onclick="jQueryModalGet('/Planificacion/Producto/OnGetCreateOrEdit?id=0&idGestion=0','Producto')">
            <i class="fas fa-plus-square"></i>Agregar
        </button>

        @*<a id="reload" class="btn btn-primary text-white">
                <i class="fa fas fa-bolt"></i>
                Refrescar
            </a>*@
    </div>
    <div id="viewAll" class="card-body table-responsive">
        <table id="productoTable" class="table table-striped " width="100%" cellspacing="0">
            <thead>
                <tr>

                    <th data-priority="1">Objetivo de Resultado</th>
                    <th data-priority="1">Indicador de Resultado</th>
                    <th data-priority="1">Producto</th>
                    <th data-priority="1">Responsable</th>
                    <th data-priority="1">Indicador</th>
                    <th data-priority="2" class="acciones-th">Acciones</th>

                </tr>
            </thead>
            <tbody>

                @foreach (var producto in Model)
                {
    <tr>

        <td>
            @producto.DescObjetivoEstra
        </td>
        <td>
            @producto.DescIndicadorEstrategico
        </td>
        <td>
            @producto.DescProducto
        </td>
        <td>
            @producto.DescCargoResponsable
        </td>
        <td class="acciones-td">
            @* <a  asp-area="planificacion" asp-controller="EstrategiaNacional" asp-action="OnGetCreateOrEdit" asp-route-id="@anioFiscal.Id" class="btn btn-info btn-xp"><i class="fas fa-pencil-alt"></i>  Editar</a>*@
            <button type="button" class="btn btn-success  btn-xp" data-toggle="tooltip" data-placement="top" title="Ver" btn-xp" id="btnViewModel" onclick="jQueryModalGet('/Planificacion/IndicadorPOA/LoadIndicadores?idProducto=@producto.Id','Indicador POA')">
                <i class="fas fa-eye"></i>
            </button>

            <button type="button" class="btn btn-primary  btn-xp" title="Agregar" id="btnViewModel" onclick="jQueryModalGet('/Planificacion/IndicadorEstrategico/OnGetCreateOrEdit?id=0&idProducto=@producto.Id','Indicador POA')">
                <i class="fas fa-plus-square"></i>
            </button>
        </td>
        <td class="acciones-td">
            <button type="button" class="btn btn-warning  btn-xp" title="Agregar" id="btnViewModel" onclick="jQueryModalGet('/Planificacion/Producto/OnGetCreateOrEdit?id=0&idGestion=@producto.IdGestion','Producto')">
                <i class="fas fa-pencil-alt"></i>
            </button>
            @* <a asp-area="planificacion" asp-controller="Producto" asp-action="OnGetCreateOrEdit" asp-route-id="@producto.Id" class="btn btn-warning btn-xp"><i class="fas fa-pencil-alt"></i></a>*@
        </td>


    </tr>
}
            </tbody>
        </table>
    </div>
</div>
<script>

    $(document).ready(function () {
        var table = $("#productoTable").DataTable({
            aoColumnDefs: [
                { "aTargets": [0], "bSortable": true },
                { "aTargets": [2], "asSorting": ["asc"], "bSortable": true },
            ],
            "language": {
                "url": "../lib/datatables/language/Spanish.json"
            },

            responsive: true,
            columnDefs: [
                { responsivePriority: 1, targets: 0 },
                { responsivePriority: 2, targets: -1 }
            ],
            "info": false
            //columnDefs: [
            //    { responsivePriority: 1, targets: 0 },
            //    { responsivePriority: 10001, targets: 4 },
            //    { responsivePriority: 2, targets: -2 }
            //]
        });



    });
</script>
