@using WordVision.ec.Web.Areas.Encuesta.Models
@model List<ETabuladoViewModel>

@{ ViewBag.Title = "Tabulados";}

<div style="border:solid; border-width:1px; padding:5px;">
    <div class="row">
        <div class="col-md-12">
            <label class="col-md-12 col-form-label texto-pregunta" style="color:#666666">Para mantener Nuestra Promesa</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label class="col-md-12 col-form-label texto-pregunta" style="color:#EC7D31">Establecer 3-5 objetivos de Desempeño para este año - CLARIDAD</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label class="col-md-12 col-form-label texto-pregunta">Incluya tanto el QUÉ <font style="color:#2ED4E0">(Resultado)</font> como el CÓMO <font style="color:#2ED4E0">(mentalidades y comportamientos)</font> se lograrán los objetivos. Utiliza los hitos para considerar cómo vas a hacer un seguimiento del progreso a lo largo del año, al menos trimestralmente*.</label>
        </div>
    </div>
</div>

<br />


<a asp-action="Index" class="btn btn-sm btn-primary">Refrescar</a>

<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>Código</th>
            <th>Programa</th>
            <th>Indicador</th>
            <th>Número</th>
            <th>Entrevistados</th>
            <th>% Porcentaje</th>
            <th>Resultado</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var fila in Model)
            {
                <tr>
                    <td>@fila.CodigoIndicador</td>
                    <td>@fila.PA</td>
                    <td>@fila.Indicador</td>
                    <td>@fila.NumeroTotal</td>
                    <td>@fila.EntrevistadosTotal</td>
                    <td>@fila.Porcentaje</td>
                    <td>@fila.Result</td>
                </tr>
            }

        }
    </tbody>
</table>
