@using WordVision.ec.Web.Areas.Encuesta.Models
@model List<ETabuladoViewModel>

@{ ViewBag.Title = "Tabulados";}

<a asp-action="Index" class="btn btn-sm btn-primary">Refrescar</a>

<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>Código</th>
            <th>Programa</th>
            <th>Indicador</th>
            <th>Número</th>
            <th>Entrevistados</th>
            <th>% Porcentaje</th>
            <th>Resultado</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var fila in Model)
            {
                <tr>
                    <td>@fila.CodigoIndicador</td>
                    <td>@fila.PA</td>
                    <td>@fila.Indicador</td>
                    <td>@fila.NumeroTotal</td>
                    <td>@fila.EntrevistadosTotal</td>
                    <td>@fila.Porcentaje</td>
                    <td>@fila.Result</td>
                </tr>
            }

        }
    </tbody>
</table>
