@using WordVision.ec.Web.Areas.Planificacion.Models
@model IEnumerable<AcuerdoViewModel>


<table id="productoTable" class="table table-striped " width="100%" cellspacing="0">
            <thead>
                <tr>

                   
                    <th data-priority="1">Objetivo</th>
                    <th data-priority="1">Factor de Éxito</th>
                    <th data-priority="1">Indicador</th>
                    <th data-priority="1">Meta Estrategíca</th>
                    <th data-priority="1">Producto</th>
                    <th data-priority="1">Meta POA</th>
                    <th data-priority="2" class="acciones-th">Acciones</th>

                </tr>
            </thead>
            <tbody>
               
                @foreach (var producto in Model)
                {
                <tr>

                    <td>
                        @producto.Objetivo
                    </td>
                    <td>
                        @producto.Factor
                    </td>
                    <td>
                        @producto.IndicadorEstrategico
                    </td>
                    <td>
                        @producto.MetaEstrategico
                    </td>
                    <td>
                        @producto.Producto
                    </td>
                    <td>
                        @producto.Meta
                    </td>
                    <td class="acciones-td">

                        <button type="button" class="btn btn-primary  btn-xp" title="Agregar" id="btnViewModel" onclick="jQueryModalGet('/Planificacion/Seguimiento/OnGetCreateOrEdit?id=0','Seguimiento')">
                            <i class="fas fa-eye"></i>
                        </button>
                   
                        @*<button type="button" class="btn btn-warning  btn-xp" title="Agregar" id="btnViewModel" onclick="jQueryModalGet('/Planificacion/Producto/OnGetCreateOrEdit?id=0&idGestion=@producto.IdGestion&idIndicadorEstra=@Model.Id','Producto')">
                <i class="fas fa-pencil-alt"></i>
            </button>*@
                        @*<form id="form_delete_@producto.Id" asp-area="Planificacion" asp-controller="FactorCriticoExito" method="post" asp-action="OnPostDelete" asp-route-id="@producto.Id" onsubmit="return jQueryModalDelete(this)">
                            <a href="javascript:$('#form_delete_@producto.Id').submit();" class="btn btn-danger btn-xp"><i class="fas fa-trash-alt"></i> </a>
                        </form>*@
                        @* <a asp-area="planificacion" asp-controller="Producto" asp-action="OnGetCreateOrEdit" asp-route-id="@producto.Id" class="btn btn-warning btn-xp"><i class="fas fa-pencil-alt"></i></a>*@
                    </td>


                </tr>
                }
                
            </tbody>
        </table>

<script>

    $(document).ready(function () {
        var table = $("#productoTable").DataTable({
            aoColumnDefs: [
                { "aTargets": [0], "bSortable": true },
                { "aTargets": [2], "asSorting": ["asc"], "bSortable": true },
            ],
            "language": {
                "url": "/lib/datatables/language/Spanish.json"
            },

            responsive: true,
            columnDefs: [
                { responsivePriority: 1, targets: 0 },
                { responsivePriority: 2, targets: -1 }
            ],
            "info": false
            //columnDefs: [
            //    { responsivePriority: 1, targets: 0 },
            //    { responsivePriority: 10001, targets: 4 },
            //    { responsivePriority: 2, targets: -2 }
            //]
        });

        var column = table.column(0);
        // Toggle the visibility
        column.visible(false);



        $('#productoTable tbody').on('dblclick', 'tr', function () {
            var data = table.row(this).data();

            jQueryModalGet('/Planificacion/Producto/OnGetCreateOrEditPerfil?id=' + data[0] + '&idNivel=0', 'Perfil');
            

        });

        $(".dynmic-hidden-col").hide();

    });
</script>
