@using WordVision.ec.Web.Areas.Planificacion.Models
@model IEnumerable<SeguimientoViewModel>


<table id="productoTables" class="table table-striped " width="100%" cellspacing="0">
    <thead>
        <tr>


            <th data-priority="1">Mes</th>
            <th data-priority="1">%Avance</th>
            <th data-priority="1">Avance</th>
            <th data-priority="1">Avance Competencia</th>
            <th data-priority="1">Fecha Reportada</th>
            <th data-priority="2" class="acciones-th">Evidencias</th>
    

        </tr>
    </thead>
    <tbody>

        @foreach (var producto in Model)
        {
        <tr>

            <td>
              

                @producto.DescMes
            </td>
            <td>
                @producto.PorcentajeAvance
            </td>
            <td>
                @producto.Avance
            </td>
            <td>
                @producto.AvanceCompetencia
            </td>
          
            <td>
                @producto.CreatedOn
            </td>
           
            <td class="acciones-td">

                <button type="button" class="btn btn-primary  btn-xp" title="Ver" id="btnViewModel" onclick="jQueryModalGet('/Planificacion/Seguimiento/OnGetCreateOrEditEvidencia?id=0','Evidencia de Seguimiento')">
                    <i class="fas fa-file-archive"></i>
                </button>
            </td>
            


        </tr>
        }

    </tbody>
</table>

<script>

    $(document).ready(function () {
        var table = $("#productoTables").DataTable({
            aoColumnDefs: [
                { "aTargets": [0], "bSortable": true },
                { "aTargets": [2], "asSorting": ["asc"], "bSortable": true },
            ],
            "language": {
                "url": "/lib/datatables/language/Spanish.json"
            }
        });




    });
</script>
