@using WordVision.ec.Web.Areas.Planificacion.Models
@model IEnumerable<ProductoViewModel>

<table id="factorTable" class="table table-bordered " width="100%" cellspacing="0">
    <thead>
        <tr>
            <th data-priority="1" style=" width:30%" class="gerencia-th">Factor Crítico de Éxito</th>
            <th data-priority="1" style=" width:20%" class="gerencia-th">Indicador de Resultado</th>
            <th style=" width:20%" class="gerencia-th">Responsable</th>
            <th style=" width:10%" class="gerencia-th">Metas @ViewBag.DescGestion</th>

            <th style=" width:40%" class="tactico-th">Productos</th>
            <th class="acciones-th">Agregar Productos</th>
            <th class="tactico-th">Indicador de Producto</th>
            <th style=" width:20%" class="tactico-th">Responsable</th>
            <th class="acciones-th">Seguimiento</th>
            <th class="operativo-th">Actividad</th>
            <th class="acciones-th">Agregar Actividad</th>
            <th class="operativo-th">Recursos</th>
            @*<th data-priority="1">Nombre</th>
        <th data-priority="2" class="acciones-th">Indicador</th>
        <th data-priority="2" class="acciones-th">Acciones</th>*@

        </tr>
    </thead>
    <tbody>


        @for (var i = 0; i < Model.Count(); i++)
        {

                @for (var k = 0; k < Model.ToList()[i].IndicadorPOAs.Count(); k++)
                {
                    @for (var l = 0; l < Model.ToList()[i].IndicadorPOAs[k].Actividades.Count(); l++)
                    {
        <tr>
            <td>@Model.ToList()[i].IndicadorEstrategicos.FactorCriticoExitos.FactorCritico</td>
            <td>
                @Model.ToList()[i].IndicadorEstrategicos.IndicadorResultado

            </td>
            <td>
                @Model.ToList()[i].IndicadorEstrategicos.DescResponsable

            </td>
            <td>@Model.ToList()[i].IndicadorEstrategicos.IndicadorAFs.Where(x => x.Anio == Convert.ToString(@ViewBag.IdGestion)).FirstOrDefault()?.Meta</td>
            <td>
                @Model.ToList()[i].DescProducto

            </td>
            @if (User.Claims.FirstOrDefault(x => x.Type == "Nivel")?.Value.ToString() == "4")
            {
                <td class="acciones-td">
                    <a asp-area="planificacion" asp-controller="Producto" asp-action="LoadIndicadores" asp-route-id="@Model.ToList()[i].IndicadorEstrategicos.Id" asp-route-idObjetivo="@ViewBag.IdObjetivo" asp-route-idEstrategia="@ViewBag.IdEstrategia" asp-route-AnioGestion="@ViewBag.IdGestion" class="btn btn-info btn-xp" title="Administrar Productos"><i class="fas fa-calendar"></i></a>

                </td>
            }
            else
            {
                <td class="acciones-td">
                    <a asp-area="planificacion" asp-controller="Producto" asp-action="Index" asp-route-id="@Model.ToList()[i].IndicadorEstrategicos.Id" asp-route-idObjetivo="@ViewBag.IdObjetivo" asp-route-idEstrategia="@ViewBag.IdEstrategia" asp-route-AnioGestion="@ViewBag.IdGestion" class="btn btn-info btn-xp" title="Administrar Productos"><i class="fas fa-calendar"></i></a>

                </td>
            }
            <td>
                @Model.ToList()[i].IndicadorPOAs[k].IndicadorProducto

            </td>
            <td>
                @Model.ToList()[i].IndicadorPOAs[k].DescResponsable

            </td>
            <td>
                <button type="button" class="btn btn-success  btn-xp" title="Ver Seguimiento" id="btnViewModel1" onclick="jQueryModalGet('/Planificacion/Seguimiento/LoadSeguimiento?idIndicadorEstrategico=@Model.ToList()[i].IndicadorEstrategicos.Id&tipo=IP','Segumiento Indicadores de Resultados')">
                    <i class="fas fa-eye"></i>
                </button>
                <button type="button" class="btn btn-primary  btn-xp" title="Agregar Seguimiento" id="btnViewModel" onclick="jQueryModalGet('/Planificacion/Seguimiento/OnGetCreateOrEdit?id=0&IdFactorCritico=0&IdIndicador=@Model.ToList()[i].IndicadorEstrategicos.Id&idGestion=@ViewBag.IdGestion&tipo=IP','Segumiento Indicadores de Resultados')">
                    <i class="fas fa-plus-square"></i>
                </button>
            </td>
            <td>
                @Model.ToList()[i].IndicadorPOAs[k].Actividades[l].DescripcionActividad

            </td>
            <td class="text-right">

                <button type="button" class="btn btn-warning btn-xp" id="btnViewModel" onclick="jQueryModalGetHijo('2','/Planificacion/Actividad/OnGetCreateOrEdit?id=@Model.ToList()[i].IndicadorPOAs[k].Actividades[l].Id&idProducto=@Model.ToList()[i].Id&idGestion=@ViewBag.IdGestion&idIndicadorEstrategia=@Model.ToList()[i].IndicadorEstrategicos.Id&idIndicadorPOA=@Model.ToList()[i].IndicadorPOAs[k].Id&idResponsablePOA=@Model.ToList()[i].IndicadorPOAs[k].Responsable','Actividad')">
                    <i class="fas fa-pencil-alt"></i>
                </button>
                <button type="button" class="btn btn-primary btn-xp" onclick="jQueryModalGetHijo('1','/Planificacion/Actividad/OnGetCreateOrEdit?id=0&idProducto=@Model.ToList()[i].Id&idGestion=@ViewBag.IdGestion&idIndicadorEstrategia=@Model.ToList()[i].IndicadorEstrategicos.Id&idIndicadorPOA=@Model.ToList()[i].IndicadorPOAs[k].Id&idResponsablePOA=@Model.ToList()[i].IndicadorPOAs[k].Responsable','Actividades')">
                    <i class="fas fa-plus-square"></i>
                </button>
            </td>
            <td class="acciones-td">
                <button type="button" class="btn btn-success btn-xp" onclick="jQueryModalGetHijo('2','/Planificacion/Recurso/LoadxActividades?idActividad=@Model.ToList()[i].IndicadorPOAs[k].Actividades[l].Id','Recursos')">
                    <i class="fas fa-eye"></i>
                </button>
                <button type="button" class="btn btn-primary btn-xp" onclick="jQueryModalGetHijo('2','/Planificacion/Recurso/OnGetCreateOrEdit?id=0&idActividad=@Model.ToList()[i].IndicadorPOAs[k].Actividades[l].Id','Recursos')">
                    <i class="fas fa-plus-square"></i>
                </button>

            </td>
        </tr>
                    }
                }

        }


    </tbody>
</table>
<script>

    $(document).ready(function () {


        var table = $("#factorTable").DataTable({
            aoColumnDefs: [
                { "aTargets": [0], "bSortable": true },
                { "aTargets": [2], "asSorting": ["asc"], "bSortable": true },
            ],
            "language": {
                "url": "/lib/datatables/language/Spanish.json"
            },
            'rowsGroup': [0,1,2,3,4,5,6,7,8,9],
           // responsive: true,
            //columnDefs: [
            //    { responsivePriority: 1, targets: 0 },
            //    { responsivePriority: 2, targets: -1 }
            //],
           /* "info": false*/

        });


        //var column = table.column(0);
        //// Toggle the visibility
        //column.visible(false);
        //column = table.column(1);
        //// Toggle the visibility
        //column.visible(false);


        //$('#factorTable tbody').on('dblclick', 'tr', function () {
        //    var data = table.row(this).data();


        //    jQueryModalGet('/Planificacion/FactorCriticoExito/OnGetCreateOrEdit?id=' + data[0] + '&idObjetivoEstra=' + data[1], 'Factor Critico de Exito');

        //});

        /* $(".dynmic-hidden-col").hide();*/
    });
</script>
