@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using WordVision.ec.Infrastructure.Data.Identity.Models;
@using WordVision.ec.Web.Areas.Donacion.Models;
@model InteracionViewModel


<form id="create-form" method="post" asp-controller="Interacion" asp-action="OnPostCreateOrEdit" onsubmit="return jQueryModalPost(this);" asp-route-id="@Model.Id"  enctype="multipart/form-data">
   
    <input asp-for="Tipo" type="hidden" name="Tipo" value="@Model.TipoPantalla" />
    <input asp-for="IdDonante" type="hidden" name="IdDonante"  />
    <dic class="row">
         <div class="col-md-12">
             <div class="form-group row">
            @if (Model.TipoPantalla == 2)
             {
             <div class="col-md-4">
              
                        <label class="col-md-12 col-form-label texto-pregunta" asp-for="NumeroGuiaKit"></label>

                        <input type="text" asp-for="NumeroGuiaKit" name="NumeroGuia" class="form-control" required />
                        <span asp-validation-for="NumeroGuiaKit" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label class="col-md-12 col-form-label texto-pregunta" asp-for="FechaEntregaKit"></label>

                        <input type="text" asp-for="FechaEntregaKit" name="FechaEntrega" class="datepicker5 form-control" required />
                        <span asp-validation-for="FechaEntregaKit" class="text-danger" readonly></span>
                    </div>

                      <div class="col-md-4">
                            <label class="col-md-12 col-form-label texto-pregunta" asp-for="EstadoKitCourier"></label>
                            @Html.DropDownListFor(x => x.EstadoKitCourier, (IEnumerable<SelectListItem>)Model.EstadoCourierList, new { @class = "form-control" ,required = "required"})
                            <span asp-validation-for="EstadoKitCourier" class="text-danger"></span>
                        </div>
                }
             </div>
         </div>
        <div class="col-md-12">
            
         
            <div class="form-group row">

                <div class="col-md-4">
                    <label class="col-md-12 col-form-label texto-pregunta" asp-for="Gestion"></label>
                    @Html.DropDownListFor(x => x.Gestion, (IEnumerable<SelectListItem>)Model.interacionesList, new { @class = "form-control",required = "required" })
                    <span asp-validation-for="Gestion" class="text-danger"></span>
                </div>


                @*  <div class="col-md-4">
                <label class="col-md-12 col-form-label texto-pregunta" asp-for="Tipo"></label>
                @Html.DropDownListFor(x => x.Tipo, (IEnumerable<SelectListItem>)Model.tipoList, new { @class = "form-control",required = "required" })
                <span asp-validation-for="Tipo" class="text-danger"></span>
                </div>*@

            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <label class="col-md-12 col-form-label texto-pregunta" asp-for="Observacion"></label>
                    <textarea asp-for="Observacion" type="text" name="Observacion" class="form-control" rows="3" required></textarea>
                    <span asp-validation-for="Observacion" class="text-danger"></span>
                </div>
            </div>
        </div>
    </dic>
    <br />


    <div class="form-group justify-content-between" style="margin-bottom: 0px !important">


        <input type="hidden" value="false" name="band" id="band"/>
        <button type="submit" class="btn btn-info" style="background-color:blue !important">Guardar</button>

        <button type="submit" id="btnCancelar" class="btn btn-default close-button" data-dismiss="modal">Cancelar</button>
    </div>

</form>
<br />

<hr />

<table id="interaccionesTable" class="table table-striped " asp-route-id="@Model.Id"  width="100%" cellspacing="0">

    <input asp-for="Tipo" type="hidden" name="Tipo" value="@Model.TipoPantalla" />
    <input asp-for="IdDonante" type="hidden" name="IdDonante"  />

    
    <thead>
        <tr>

            <th data-priority="1">Gestion</th>
            @if (Model.TipoPantalla == 2)
        {
            <th data-priority="1">Numero de Guía</th>
            <th data-priority="1">Fecha de Entrega</th>
            <th data-priority="1">Estado Courier</th>
        }
            <th data-priority="1">Observaciones</th>
            <th data-priority="1">Usuario que Creo</th>
            <th data-priority="1">Fecha que Creo</th>
         @if (Model.TipoPantalla != 2)
        {
            <th data-priority="1">Usuario que Modifico</th>
            <th data-priority="1">Fecha que Modifico</th>

        }
        </tr>
    </thead>
     <tbody>
        @foreach (var d in Model.ListaInteracciones)
        {
            <tr>

                <td>
                    @Model.interacionesList.Where(x => x.Value == @d.Gestion.ToString()).FirstOrDefault().Text

                </td>
               @if (Model.TipoPantalla == 2)
            {
                <td>
                    @d.NumeroGuiaKit
                </td>
                <td>
                    @d.FechaEntregaKit
                </td>
                <td>
                    @d.EstadoKitCourier
                </td>
            }
            <td>
                    @d.Observacion
                </td>

                <td>
                    @d.CreatedBy
                </td>
                <td>
                    @d.CreatedOn

                </td>
            @if (Model.TipoPantalla != 2)
            {
                <td>
                    @d.LastModifiedBy
                </td>
                <td>
                    @d.LastModifiedOn
                </td>
            }

            </tr>
        }

    </tbody>

</table>


<script>

    $(document).ready(function() {
        var table = $("#interaccionesTable").DataTable({
            aoColumnDefs: [
                { "aTargets": [0], "bSortable": true },
                { "aTargets": [2], "asSorting": ["asc"], "bSortable": true },
            ], dom: 'Bfrtip', buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ],
            "language": {
                "url": "/lib/datatables/language/Spanish.json"
            }
        });


    });



    $(".datepicker5").datepicker({
            changeMonth: true,
            changeYear: true,
            autoclose: true,
            todayBtn: true,
            firstDay: 1,
            minDate: new Date(2005, 0, 1),
            yearRange: '2005:' + String((new Date()).getFullYear() + 1),
            format: "dd-mm-yyyy",
            startDate: new Date()

        });
</script>

