@using WordVision.ec.Web.Areas.Planificacion.Models
@model EstrategiaNacionalViewModel

@Html.HiddenFor(x => x.Id, new { name = "IdEstrategia", @Value = Model.Id })
    <table id="gestionTable" class="table table-striped" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Gestión</th>
                <th>Descripción</th>
                <th>Estado</th>

                <th class="acciones-th">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Gestiones != null)
            {

                @foreach (var gestion in Model.Gestiones.ToList())
                {
            <tr id="Gest_@gestion.Id">

                <td>

                    @gestion.Id
                </td>
                <td>

                    @gestion.Anio
                </td>
                <td>
                    @gestion.Descripcion
                </td>
                <td>
                    @{
                        var selectedCity = Model.EstadoList;
                        string txt = selectedCity.Where(x => x.Value == gestion.Estado).FirstOrDefault().Text;
                    }
                    @txt
                </td>

                <td class="acciones-td">
                     <button type="button" class="btn btn-warning  btn-xp" title="Agregar" id="btnViewModel" onclick="jQueryModalGet('/Planificacion/Gestion/OnGetCreateOrEdit?id=@gestion.Id&idObjetivoEstra=@gestion.Anio','Gestión')">
                        <i class="fas fa-pen"></i>
                    </button>
                    <button type="button" onclick="EliminaFila(@gestion.Id)" class="btn btn-danger btn-xp"><i class="fas fa-trash-alt"></i> </button>

                </td>

            </tr>
                }}


        </tbody>
    </table>

<script>

    $(document).ready(function () {


        var table = $("#gestionTable").DataTable({
            //aoColumnDefs: [
            //    { "aTargets": [0], "bSortable": true },
            //    { "aTargets": [2], "asSorting": ["asc"], "bSortable": true },
            //],
             "aaSorting": [[1, "asc"]],
            "order": [
                [1, "asc"]
            ],
            "language": {
                "url": "/lib/datatables/language/Spanish.json"
            },

            responsive: true,
            columnDefs: [
                { responsivePriority: 1, targets: 0 },
                { responsivePriority: 2, targets: -1 }
            ],
            "info": false
            //columnDefs: [
            //    { responsivePriority: 1, targets: 0 },
            //    { responsivePriority: 10001, targets: 4 },
            //    { responsivePriority: 2, targets: -2 }
            //]
        });


        var column = table.column(0);
        // Toggle the visibility
        column.visible(false);
       


        $('#gestionTable tbody').on('dblclick', 'tr', function () {
            var data = table.row(this).data();


            jQueryModalGet('/Planificacion/Gestion/OnGetCreateOrEdit?id=' + data[0] + '&idObjetivoEstra=' + data[1], 'Gestión');

        });

        $(".dynmic-hidden-col").hide();
    });
</script>
